<div class="news-page">
    <section class="section-base section-color section-top-overflow">
        <div class="container container1">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="section-title-s5">
                        <h2>LATEST ARTICLES</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <article class="mta-news">
                        <div class="post-thumbnail-wrapper" style="background-image: url(assets/images/Blog.png);background-size: cover;background-position: center center;background-repeat: no-repeat;">
                            <div class="post-content-box">
                                <h3 class="news-title">
                                    <span class="news-date">April 4th, 7PM PST</span>
                                    <a class="news-title-link" href="#" title="News 1">Mixed Trading Arts Webinar</a>
                                </h3>
                                <a class="y-btn join-now"  title="News 1" (click)="redirect()">
                                    Join now <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
               <!--  <div class="col-md-4">
                    <article class="mta-news">
                        <div class="post-thumbnail-wrapper" style="background-image: url(assets/images/blog-2.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;">
                            <div class="post-content-box">
                                <h3 class="news-title">
                                    <span class="news-date">February 25, 2020</span>
                                    <a class="news-title-link" href="#" title="News 2">Lorem Ipsum is simply dummy</a>
                                </h3>
                                <a class="y-btn" href="#" title="News 2">
                                    Read more <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="mta-news">
                        <div class="post-thumbnail-wrapper" style="background-image: url(assets/images/blog-3.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;">
                            <div class="post-content-box">
                                <h3 class="news-title">
                                    <span class="news-date">February 25, 2020</span>
                                    <a class="news-title-link" href="#" title="News 3">Lorem Ipsum is simply dummy</a>
                                </h3>
                                <a class="y-btn" href="#" title="News 3">
                                    Read more <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="mta-news">
                        <div class="post-thumbnail-wrapper" style="background-image: url(assets/images/blog-4.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;">
                            <div class="post-content-box">
                                <h3 class="news-title">
                                    <span class="news-date">February 25, 2020</span>
                                    <a class="news-title-link" href="#" title="News 4">Lorem Ipsum is simply dummy</a>
                                </h3>
                                <a class="y-btn" href="#" title="News 4">
                                    Read more <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="mta-news">
                        <div class="post-thumbnail-wrapper" style="background-image: url(assets/images/blog-5.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;">
                            <div class="post-content-box">
                                <h3 class="news-title">
                                    <span class="news-date">February 25, 2020</span>
                                    <a class="news-title-link" href="#" title="News 5">Lorem Ipsum is simply dummy</a>
                                </h3>
                                <a class="y-btn" href="#" title="News 5">
                                    Read more <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="mta-news">
                        <div class="post-thumbnail-wrapper" style="background-image: url(assets/images/blog-1.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;">
                            <div class="post-content-box">
                                <h3 class="news-title">
                                    <span class="news-date">February 25, 2020</span>
                                    <a class="news-title-link" href="#" title="News 6">Top things to do in Paris for soccer fans</a>
                                </h3>
                                <a class="y-btn" href="#" title="News 6">
                                    Read more <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                </div> -->
            </div>

        </div>
    </section>
</div>