<div class="wrapper page-inner content-fixed">
  <div class="conatiner w-100">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <div>
            <mat-card-content>
              <form class="form-signin form-data" [formGroup]="walletForm">
                <mat-card class="row">
                  <div>
                    <strong>Balance : {{adminWalletData?.confirmed_balance}} BTC</strong> <br>
                    <span class="sp-font"> (Unconfirmed Balance : {{adminWalletData?.unconfirmed_balance}} BTC)</span>
                  </div>
                  <hr>
                  <div class="col-md-12 text-center">
                    <qrcode [qrdata]="adminWalletData?.address" [size]="175" [level]="'M'" class="bar-code-img">
                    </qrcode>
                  </div>
                  <div class="col-md-12 text-center p-t-10"> <button mat-raised-button
                      class="fa-pull-left mt-65 mat-raised-button grad-css" type="submit"
                      (click)="addNewAddress()">Create New Address</button></div>
                  <hr>
                  <div class=" text-center">
                    <strong>Address :</strong> {{adminWalletData?.address}}
                  </div>
                </mat-card>
              </form>
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>