.sp-font{
    font-size: 13px;
}
.bar-code-img img{ display: inline !important;}
.bar-code-img {

    display: inline flow-root list-item;
    list-style: none;
    padding-top: 20px;
    display: inline-block;


}
.p-t-10{
    padding-top: 20px;

    padding-bottom: 15px;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #f8b12c !important;
   }
  ::ng-deep.mat-form-field-ripple {
   background-color: #f8b12c !important;;
  }