<div class="p-40">
    <mat-card-content>
        <form class="form-signin form-data" novalidate="novalidate" accept-charset="utf-8"
            [formGroup]="resetPasswordForm">
            <mat-card class="row">
                <mat-form-field class="col-md-12">
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        placeholder="Password" (change)="StorePassword($event)" autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fc.password.touched && fc.password.errors">
                        <mat-error *ngIf="fc.password.errors.required">Password is required</mat-error>
                        <mat-error *ngIf="fc.password.errors.pattern">Password is not valid (Must contain at least one
                            number, one uppercase and lowercase letter, one special
                            characters,
                            and
                            at least 8 or more characters)</mat-error>
                        
                    </mat-error>
                    <mat-hint *ngIf="fc.password.errors"> Must contain at least one number, one uppercase and lowercase
                        letter, one special
                        characters,
                        and
                        at least 8 or more characters</mat-hint>
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
                        placeholder="Confirm Password" [pattern]="iPassword" (invalid)="GetInvalidMessage($event)"
                        autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fc.confirmPassword.touched && fc.confirmPassword.errors">
                        <mat-error *ngIf="fc.confirmPassword.errors.required">Confirm Password is required
                        </mat-error>
                        <mat-error *ngIf="fc.confirmPassword.errors.pattern">Password doesn't match!
                        </mat-error>
                    </mat-error>
                </mat-form-field>


                <div class="col-md-12">
                    <mat-card-actions>
                        <button mat-raised-button [ngClass]="{'grad-css': resetPasswordForm.valid}" type="submit"
                            (click)="updatePassword()" [disabled]="!resetPasswordForm.valid">Update</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </form>


    </mat-card-content>

</div>