<div class="mta-payment-div">
        <div *ngIf="!payment_status">
                <iframe [src]= "urlstr" height="500" width="100%" class="payment-iframe"></iframe>
                <div class="payment-loader">
                        <mat-spinner class="m-auto"></mat-spinner>
                </div>    

        </div>





        <div class="payement-successful-div" *ngIf="payment_status">
                <div class="box-shadow container br-10 custom-padding card-wd">
                        
                        <div class="payment-success text-center">
                                <img src="assets/images/checked.png" >
                        </div>
                        <div class="payment-successful-heading text-center">
                                <h1>Thank You! </h1>
                                <h3>Your Payment Has Been Recieved.</h3>
                        </div>
                        <div class="payment-successful-btn text-center">
                                        <button mat-raised-button class="success-btn" [routerLink]="['/login']">Click here to Login</button>
                        </div>
                </div>
        </div>

</div>

