<div class=" page-inner container-fluid pd-tp">

    <div class="row" style="margin-bottom: 50px;">

        <div class="col-md-12 ">
            <div class=" custom-card-width1" *ngIf="showform" style="margin-bottom: 27px;">
                <div class="row justify-content-md-center p-3 ">

                    <div class="col-md-auto pad-cls custom-card-width1">

                        <div>

                            <div>
                                <!-- <button style="float: right;" class="grad-css" (click)="openForm();">
                                                        Renew Plan
                                                    </button> -->
                                <!-- <button mat-raised-button class="grad-css" *ngIf="!showform && details?.newsletter !== 'Lifetime Membership'" (click)="openForm();">Renew Plan</button> -->
                            </div>
                            <div>
                                <mat-card-content>
                                    <form class="my-form form-data" [formGroup]="renewPlanFrom" *ngIf="showform">
                                        <mat-card class="row custom-card-width box-shadow">


                                            <mat-form-field class="col-md-12 mt-3">
                                                <mat-select placeholder="Select Mixed Trading Arts Plan"
                                                    matNativeControl required formControlName="plan">

                                                    <mat-option *ngFor="let item of membershipPlans"
                                                        value="{{item.fullplan}}">
                                                        {{item.fullplan}} <span class="spn-price">{{item.amount}}
                                                            BTC</span>
                                                    </mat-option>
                                                </mat-select>

                                                <mat-error *ngIf="fc.plan.hasError('required')">
                                                    This field is required
                                                </mat-error>
                                            </mat-form-field>


                                            <mat-card-actions class="col-md-12 mr0">
                                                <button mat-raised-button [disabled]="!renewPlanFrom.valid"
                                                    (click)="renewPlan()"
                                                    [ngClass]="{'grad-css': renewPlanFrom.valid}">Renew</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </form>
                                </mat-card-content>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12 ">
            <div class="box-shadow custom-card-width1">
                <div class="row justify-content-md-center p-3 ">

                    <div class="col-md-auto pad-cls custom-card-width1">
                        <div>
                            <button mat-raised-button class="grad-css"
                                *ngIf="!showform && details?.newsletter !== 'Lifetime Membership'"
                                (click)="openForm();">Renew Plan</button>
                        </div>

                        <div class="mt-12 box-shadow trade-margin-div">


                            <table class="table table-striped margin-table " *ngFor="let list of payData; let i =index">
                                <thead class="grad-css">
                                    <tr>
                                        <th>{{list?.memo }}</th>
                                        <th class="display-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="list?.memo">
                                        <td>Title : </td>
                                        <td>{{list?.memo }} </td>
                                    </tr>

                                    <tr  *ngIf="list?.newsletter">
                                        <td>MTA Subscription : </td>
                                        <td>{{list?.newsletter }} </td>
                                    </tr>
                                    <tr *ngIf="list?.address">
                                        <td>Address : </td>
                                        <td>{{list?.address }} </td>
                                    </tr>

                                    <tr *ngIf="list?.btcamount">
                                        <td>Amount : </td>
                                        <td>{{list?.btcamount }} </td>
                                    </tr>

                                    <tr *ngIf="list?.invoiceId">
                                        <td>Invoice Number: </td>
                                        <td>{{list?.invoiceId }} </td>
                                    </tr>

                                    <tr>
                                        <td>Payment Status : </td>
                                        <td>{{list?.status }}
                                            <span>
                                                <mat-icon matTooltip="Payment is not done"
                                                    *ngIf="list?.status === 'Pending'"
                                                    class="mat-icons-posstion icon-sizes" style="color: #DD5140;  ">
                                                    report_problem</mat-icon>
                                                <mat-icon matTooltip="Payment is done" *ngIf="list?.status === 'Paid'"
                                                    class="mat-icons-posstion icon-sizes" style="color: #1DA462">
                                                    check_circle</mat-icon>
                                            </span> </td>
                                    </tr>

                                    <tr *ngIf="list?.payment_date">
                                        <td>Payment Requested Date: </td>
                                        <td>{{list.payment_date | date:'medium'}} </td>
                                    </tr>

                                    <tr *ngIf="list?.status === 'Paid'">
                                        <td>Next Payment Date: </td>
                                        <td *ngIf="list?.newsletter !== 'Lifetime Membership'"
                                            style=" color: #DD5140; font-weight: bold;">
                                            {{list.expiry_date | date:'medium'}} </td>
                                        <td *ngIf="list?.newsletter === 'Lifetime Membership'"
                                            style=" color: #1DA462; font-weight: bold;">Lifetime Member
                                        </td>

                                    </tr>

                                    <tr>
                                        <td style="visibility:hidden;">j</td>
                                        <td style="visibility:hidden;"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>

</div>