<header class="dark">
    <div class="container">
        <nav role="navigation">
            <div class="logo">
                <a [routerLink]="['/']" class="logo"><img src="assets/images/mix-full-logo.jpg"></a>
            </div>

            <a href="javascript:void(0);" class="ic menu" tabindex="1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <a href="javascript:void(0);" class="ic close"></a>
            <ul class="main-nav" *ngIf="!apiService.isLoggedIn()">
                <li class="top-level-link">
                    <a  href="javascript:void(0)" (click)="animationScroll('home')"><span>Home</span></a>
                </li>
                <li class="top-level-link">
                    <a href="javascript:void(0)" (click)="animationScroll('philosophy')" ><span>Philosophy</span></a>
                </li>
                <li class="top-level-link">
                    <a href="javascript:void(0)" (click)="animationScroll('program')"><span>Program</span></a>
                </li>               
                <li class="top-level-link">
                    <a href="javascript:void(0)" (click)="animationScroll('whyjoin')"><span>Why Join</span></a>
                </li>  
                <li class="top-level-link">
                    <a href="javascript:void(0)" (click)="animationScroll('newsection')" ><span>News</span></a>
                </li>
                <li class="top-level-link">
                    <a [routerLink]="['/login']"><span> <button type="button"
                                class="login-btn">Login</button></span></a>

                </li>
                <li class="top-level-link">
                    <a [routerLink]="['/plan']"><span> <button type="button"
                                class="login-btn">Register</button></span></a>
                </li>
            </ul>

        </nav>
    </div>
</header>
<router-outlet (activate)="onActivate($event)"></router-outlet>

<footer class="footer-parallax light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="text-darkblack">Company and team</h4>
                <div class="menu-inner menu-inner-vertical">
                    <ul>
                        <li>
                            <a href="#">Company details and team</a>
                        </li>
                        <li>
                            <a [routerLink]="['/newsblog']">News and blog</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a [routerLink]="['/affiliatemarketing']">Affiliates and marketing</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="text-darkblack">Help and support</h4>
                <div class="menu-inner menu-inner-vertical">
                    <ul>
                        <!-- <li>
                            <a href="#">Help centre</a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/feedback']">Feedback</a>
                        </li>
                        <li>
                            <a [routerLink]="['/requestform']">Request new features</a>
                        </li>
                        <li>
                            <a  [routerLink]="['/contactus']">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="text-darkblack">Learn more</h4>
                <div class="menu-inner menu-inner-vertical">
                    <ul>

                        <!-- <li>
                            <a href="#">Partners</a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/privacypolicy']" >Privacy and terms</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="text-darkblack">Follow us</h4>
                <div class="icon-links icon-social icon-links-grid social-colors">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/Mixedtradingarts-109388713995370/"><i class="fab fa-facebook-f"></i></a>
                    <a class="twitter" target="_blank" href="https://twitter.com/MixedTradingArt?s=20"><i class="fab fa-twitter"></i></a>
                    <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/mixedtradingarts/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCASIIcm78KXZZvwe7wca4Yg"><i class="fab fa-youtube"></i></a>
                    <a class="instagram" target="_blank" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                    <a class="telegram" target="_blank" href="https://t.me/joinchat/KxjGaRMiBMq_B8o3Lc-rIQ"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-lightgray">
                 Copyrights by Mixedtradingarts
            </div>
        </div>
    </div>
</footer>