::ng-deep .mat-focused .mat-form-field-label {
    color: #f8b12c !important;
   }
  ::ng-deep.mat-form-field-ripple {
   background-color: #f8b12c !important;;
  }
  .btc-icon{
    position: absolute;

    right: 0px;
    
    border: 1px solid
    #949494;
    
    padding: 5px 20px;
    
    top: 2px;
    
    background:
    
        #f1f1f1;
    
    }
  .pad-top-btm{
      padding-top: 10px;
  }

  .plan-tbl{
    width: 52%;
    margin-left: auto;
    margin-right: auto;

}
