<div class="wrapper page-inner content-fixed">
  <div class="conatiner w-100">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <div class="row ">
            <h2 class="user-info-heading">Membership Plan</h2>
          </div>
          <div>
            <mat-card-content>
              <form class="form-signin form-data" [formGroup]="memberForm">
                <mat-card class="row">
                  <h5 class="user-info-heading text-center">Add MTA Program</h5>

                  <mat-form-field class="col-md-5">
                    <input matInput type="text" formControlName="num" placeholder="Number">
                    <mat-error *ngIf="fc.num.touched && fc.num.errors">
                      <mat-error *ngIf="fc.num.errors.required">Field is required!</mat-error>
                      <mat-error *ngIf="fc.num.errors.pattern">Field is not valid (Please enter only numbers)
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-5">
                    <mat-select placeholder="Time" matNativeControl formControlName="time">
                      <mat-option value="Day"> Day</mat-option>
                      <mat-option value="Month"> Month</mat-option>
                      <mat-option value="Year"> Year</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fc.time.hasError('required')">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                  <div>

                    <div class="col-md-12 pad-top-btm">
                      <mat-checkbox formControlName="lifetime" [checked]="checking" #checkbox
                        (change)='showOptions(checkbox.checked)'>Lifetime Membership</mat-checkbox>
                    </div>
                  </div>
                  <mat-form-field class="col-md-10">
                    <input matInput type="text" formControlName="amount" placeholder="Amount">
                    <mat-error *ngIf="fc.amount.touched && fc.amount.errors">
                      <mat-error *ngIf="fc.amount.errors.required">Field is required!</mat-error>
                      <mat-error *ngIf="fc.amount.errors.pattern">Field is not valid (Please enter only numbers)
                      </mat-error>
                    </mat-error>
                    <span class="btc-icon">BTC</span>
                  </mat-form-field> 
                  <mat-form-field class="col-md-10">
                    <input matInput type="text" formControlName="installmentPlan" placeholder="Installment Plan">
                    <mat-error *ngIf="fc.installmentPlan.touched && fc.installmentPlan.errors">
                      <mat-error *ngIf="fc.installmentPlan.errors.required">Field is required!</mat-error>
                      <mat-error *ngIf="fc.installmentPlan.errors.pattern">Field is not valid (Please enter only numbers)
                      </mat-error>
                    </mat-error>
                  </mat-form-field>



                  <div class="col-md-6">
                    <mat-card-actions>
                      <button mat-raised-button class=" text-uppercase fa-pull-left mt-65"
                        [ngClass]="{'grad-css': memberForm.valid}" type="submit" [disabled]="!memberForm.valid"
                        (click)="addPlans(); memberForm.untouched">Add</button>
                    </mat-card-actions>
                  </div>
                </mat-card>
              </form>
            </mat-card-content>



            <mat-card-content>

              <mat-card class="row plan-tbl">
                  <h5 class="user-info-heading text-center">All Membership Plans</h5>
              <table mat-table [dataSource]="dataSource">

                <!-- <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef> Number </th>
                  <td mat-cell *matCellDef="let item"> {{item.num}} </td>
                </ng-container>
              
                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef> Time </th>
                  <td mat-cell *matCellDef="let item"> {{item.time}} </td>
                </ng-container> -->

                <ng-container matColumnDef="plan">
                  <th mat-header-cell *matHeaderCellDef> Plan </th>
                  <td mat-cell *matCellDef="let item"> {{item.fullplan}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                  <td mat-cell *matCellDef="let item"> {{item.amount}} </td>
                </ng-container>     
                <ng-container matColumnDef="installmentPlan">
                  <th mat-header-cell *matHeaderCellDef> Installment Plan </th>
                  <td mat-cell *matCellDef="let item"> {{item.installmentPlan}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action </th>
                  <td mat-cell *matCellDef="let item">
                    <!-- <button type="button" (click)="edit(item)">Edit</button> -->
                    <!-- <button type="button" (click)="delete(item)">Delete</button> -->
                    <mat-icon class="cp ml-3 " matTooltip="Delete" class="cp" style="color: #DD5140"
                      (click)="DeletePlans(item._id, item.fullplan)">
                      delete</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>
              <div *ngIf="dataSource.data.length === 0" class="text-center mt-2">
                No Plans found!
            </div>
          </mat-card>
            </mat-card-content>

            <!-- <mat-card-content>
              <form class="form-signin form-data" [formGroup]="PriceForm">
                <mat-card class="row">
                  <h5 class="user-info-heading text-center">Manage Membership Price</h5>
                  <mat-form-field class="col-md-5">
                    <input matInput type="text" formControlName="amount" placeholder="Amount">
                    <mat-error *ngIf="fcPrice.amount.touched && fcPrice.amount.errors">
                      <mat-error *ngIf="fcPrice.amount.errors.required">Field is required!</mat-error>
                      <mat-error *ngIf="fcPrice.amount.errors.pattern">Field is not valid (Please enter only numbers)
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                  <button>BTC</button>
                  <div class="col-md-6">
                    <mat-card-actions>
                      <button mat-raised-button class=" text-uppercase fa-pull-left mt-65"
                        [ngClass]="{'grad-css': PriceForm.valid}" type="submit" [disabled]="!PriceForm.valid"
                        (click)="addBTCPrice()">Submit</button>
                    </mat-card-actions>
                  </div>
                  <div *ngIf="btcPrice?.amount > 0">
                    <strong>Price : {{btcPrice?.amount}} BTC</strong>
                  </div>
                </mat-card>
              </form>
            </mat-card-content> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>