<!-- <div class="p-40 custom-padding-card">
        <div class="pad-top65">
            <a *ngFor="let plan of planList" [routerLink]="['/register',plan._id]" class="login-btn" type="button">
                {{plan.fullplan}}
            </a>
        </div>
</div> -->

<div class="pricind-page pricing-plan-bg1">
    <section class="page-title">
        <h1 class="text-center">Choose Mentorship Plan</h1>
        <p class="text-center">Pay monthly at your convenience</p>
    </section>
    <section class="pricind-section">
        <div class="pricing pricing-palden align-items-start">

            <div class="pricing-item" *ngFor="let plan of planList;let i=index" [ngClass]="{'pricing__item--featured':i==1,'last-pricing-item':i==2}">
                <div class="pricing-item-inner">
                <div class="selected" *ngIf="i==1">MOST POPULAR</div>
                <div class="planlist">
                    <div class="package-name">
                        <h2 class="pricing-title">{{plan.fullplan}}</h2>                        
                    </div>
                    <div class="package-price">
                        <h1 class="text-center">{{plan.amount}}BTC</h1>
                    </div>
                    <div class="installment-plan" *ngIf="i==1 || i==2">
                        <p class="text-white">or {{plan.installmentPlan}} BTC per month</p>
                    </div>                   
                </div>
                
                <ul class="package-feature-list" *ngIf="i==0">
                    <li class="pricing-feature">Intro to MTA principles course</li>
                    <li class="pricing-feature">Weekly lecture highlight reels</li>
                    <li class="pricing-feature">Top trading tips</li>
                    <li class="pricing-feature">Master traders trading track record</li>
                </ul>
                <ul class="package-feature-list" *ngIf="i==1">
                    <li class="pricing-feature">Intro to MTA principles course</li>
                    <li class="pricing-feature">Weekly lecture highlight reels</li>
                    <li class="pricing-feature">Top trading tips</li>
                    <li class="pricing-feature">Master traders trading track record</li>
                    <li class="pricing-feature">Bitmex trading basics</li>
                    <li class="pricing-feature">Collection of trading books</li>
                    <li class="pricing-feature">Weekly lectures 4 - 5 hours each</li>
                    <li class="pricing-feature">Video lectures</li>
                    <li class="pricing-feature">Audio podcast lectures</li>
                    <li class="pricing-feature">Fractal image library</li>
                    <li class="pricing-feature">Reading materials</li>
                    <li class="pricing-feature">Behavioural reprogramming exercises</li>
                    <li class="pricing-feature">Spiritual retreat recordings</li>
                    <li class="pricing-feature">Option to hire  MTA coach</li>
                </ul>
                <ul class="package-feature-list" *ngIf="i==2">
                    <li class="pricing-feature">Intro to MTA principles course</li>
                    <li class="pricing-feature">Weekly lecture highlight reels</li>
                    <li class="pricing-feature">Top trading tips</li>
                    <li class="pricing-feature">Master traders trading track record</li>
                    <li class="pricing-feature">Bitmex trading basics</li>
                    <li class="pricing-feature">Collection of trading books</li>
                    <li class="pricing-feature">Weekly lectures 4 - 5 hours each</li>
                    <li class="pricing-feature">Video lectures</li>
                    <li class="pricing-feature">Audio podcast lectures</li>
                    <li class="pricing-feature">Fractal image library</li>
                    <li class="pricing-feature">Reading materials</li>
                    <li class="pricing-feature">Behavioural reprogramming exercises</li>
                    <li class="pricing-feature">Spiritual retreat</li>
                    <li class="pricing-feature">Live Bitmex master trader mirror account (practicing purposes)</li>
                    <li class="pricing-feature">Exercises,application and consulations throughout the week in virtual classroom</li>
                    <li class="pricing-feature">Live observations of the master trader</li>
                    <li class="pricing-feature">Homework exercises with performance reviews every week</li>
                </ul>

                <div class="subscribe-package">
                    <!-- <button class="pricing-action">ENROLL NOW</button> -->
                    <a [routerLink]="['/register',plan._id]" class="pricing-action" type="button">
                        ENROLL NOW
                    </a>
                </div>
            </div>
            </div>

            <!-- <div class="pricing-item pricing__item--featured">
                <div class="selected">MOST POPULAR</div>
                <div class="package-name">
                    <h3 class="pricing-title">Recorded</h3>
                </div>
                <div class="package-price">
                    <h1 class="text-center">0.3BTC</h1>
                </div>
                <ul class="package-feature-list">
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                </ul>
                <div class="subscribe-package">
                    <button class="pricing-action">ENROLL NOW</button>
                </div>
            </div>

            <div class="pricing-item">
                <div class="package-name">
                    <h3 class="pricing-title">Live</h3>
                </div>
                <div class="package-price">
                    <h1 class="text-center">0.9BTC</h1>
                </div>
                <ul class="package-feature-list">
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                    <li class="pricing-feature"><i class="fas fa-check"></i> Lorem ipsum</li>
                </ul>
                <div class="subscribe-package">
                    <button class="pricing-action">ENROLL NOW</button>
                </div>
            </div> -->

        </div>
    </section>
</div>