<mat-toolbar class="desktop mat-elevation-z6">
    <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
    </button>
    <img class="logo cp" src="assets/images/mix-logo.jpg"> <span class="spacer"></span>

    <div>
        <a href="javascript:void(0)" (click)="onlogout()"><img class="icon-width mr-18 cp"
                src="assets/images/icons/logout.png"></a>
    </div>

</mat-toolbar>
<mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav [mode]="mode" [opened]="opened" [fixedInViewport]="true" [fixedTopGap]="layoutGap">
        <mat-list id="menus">
            <mat-card class="mar-5 no-sh">
                <!-- <mat-card-header>
                    <div mat-card-avatar>
                        <div style="border-radius: 50%" class="dummy-dp">
                            <img class="pr-wd mr-18" [attr.src]="profileImage || ''">
                        </div>

                    </div>
                    <mat-card-title>{{firstName}}</mat-card-title>


                </mat-card-header> -->
            </mat-card>
            <mat-accordion>
                <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            <div>
                                <img class="icon-width mr-18" src="assets/images/icons/account.png">
                            </div>Manage Customer
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="ml-10">
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/customers']">
                            <div>
                                <img class="icon-width mr-18" src="assets/images/icons/profile.png">
                            </div>View Customers
                        </a>
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/joinwebineruser']">
                            <div>
                                <img class="icon-width mr-18" src="assets/images/icons/profile.png">
                            </div>View Join Webiner User
                        </a>

                    </div>
                </mat-expansion-panel>


                <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            <div>
                                <img class="icon-width mr-18" src="assets/images/icons/profile.png">
                            </div> Admin Setting
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="ml-10">
                        <a mat-list-item matRipple class="text-dec"  routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/timer']">
                            <div>
                                <i class="material-icons icon-width mr-18"> access_time </i>
                                <!-- <img class="icon-width mr-18" src="/assets/images/icons/profile.png"> -->
                            </div>Clock Timer
                        </a>
                    </div>
                    <div class="ml-10">
                            <a mat-list-item matRipple class="text-dec"  routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/membership']" >
                                <div>
                                    <i class="material-icons icon-width mr-18"> event_available </i>
                                    <!-- <img class="icon-width mr-18" src="/assets/images/icons/profile.png"> -->
                                </div>Membership Plan
                            </a>
                        </div>
                      
                </mat-expansion-panel>


                <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            <div>
                                <img class="icon-width mr-18" src="assets/images/icons/verification.png">
                            </div>Manage Content
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="ml-10">
                            <a mat-list-item matRipple class="text-dec"  routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/upload']">
                                <div>
                                    <i class="material-icons icon-width mr-18"> cloud_upload </i>
                                    <!-- <img class="icon-width mr-18" src="/assets/images/icons/profile.png"> -->
                                </div>Upload Content
                            </a>
                        </div>
                    <div class="ml-10">
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/content']">
                            <div>
                                <i class="material-icons icon-width mr-18"> music_video </i>
                            </div>View Content
                        </a>

                    </div>
                </mat-expansion-panel>


                <mat-expansion-panel class="mt-10 box-sh-no">
                        <mat-expansion-panel-header matRipple>
                            <mat-panel-title>
                                <div>
                                    <img class="icon-width mr-18" src="assets/images/icons/verification.png">
                                </div>Categories
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="ml-10">
                                <a mat-list-item matRipple class="text-dec"  routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/category']">
                                    <div>
                                        <i class="material-icons icon-width mr-18"> category </i>
                                    </div>Manage Category
                                </a>
                            </div>
                    </mat-expansion-panel>


                <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            <div>
                                <img class="icon-width mr-18" src="assets/images/icons/cryptocurrencies.png">
                            </div>Wallet Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="ml-10">
                            <a mat-list-item matRipple class="text-dec"  routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/wallet']">
                                <div>
                                    <i class="material-icons icon-width mr-18"> account_balance_wallet </i>
                                    <!-- <img class="icon-width mr-18" src="/assets/images/icons/profile.png"> -->
                                </div>View Wallet
                            </a>
                        </div>
                    
                </mat-expansion-panel>

                <!-- <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/portfolio.png">
                            </div>Manage Token
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="ml-10">
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/view-token']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/personal-assets.png">
                            </div>View Token
                        </a>
                        <a mat-list-item matRipple class="text-dec" [routerLink]="['/employee']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/token-assets.png">
                            </div>Token Assets
                        </a>
                         <a mat-list-item matRipple class="text-dec" [routerLink]="['/employee']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/trade-assets.png">
                            </div>Trade Assets
                        </a>
                    </div>
                </mat-expansion-panel> -->

                <!-- <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/account.png">
                            </div>Email Templates
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="ml-10">
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/template-list']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/cryptocurrencies.png">
                            </div>Template List
                        </a>
                    </div>
                    <div class="ml-10">
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/new-email-template']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/cryptocurrencies.png">
                            </div>New Template
                        </a>
                    </div>
                </mat-expansion-panel> -->

                <!-- <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <mat-panel-title>
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/trade.png">
                            </div>Trade
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="ml-10">
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/tradeCrypto']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/trade-currencies.png">
                            </div>Internal Trade
                        </a>
                        <a mat-list-item matRipple class="text-dec" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/trade-currencies.png">
                            </div>Advance Trade
                        </a>
                        <a mat-list-item matRipple class="text-dec" [routerLink]="['/employee']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/buy-sell.png">
                            </div>Buy/Sell Crypto
                        </a>
                        <a mat-list-item matRipple class="text-dec" [routerLink]="['/employee']">
                            <div>
                                <img class="icon-width mr-18" src="/assets/images/icons/trade-history.png">
                            </div>Trade History
                        </a>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="mt-10 box-sh-no">
                    <mat-expansion-panel-header matRipple>
                        <div>
                            <img class="icon-width mr-18" src="/assets/images/icons/exchange.png">
                        </div>Exchange
                    </mat-expansion-panel-header>
                </mat-expansion-panel> -->
            </mat-accordion>

        </mat-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>