<section class="section-base section-color home-page-section home-page-first-section">
    <div class="container container1 " id="home" >
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title-s6 text-left">
                    <h3 class="join-month-program">Join 3 Months Mentorship Program</h3>
                </div>
                <h5 class="font-weight-normal mb-4" style="color:#727376;">3 Cornerstones of Mixed Trading Arts :</h5>
                <div class="section-content mentorship-program-section">
                   <h5><span class="list-number">1.</span>Universe Principles.</h5>
                   <h5>The Art of Sacred Geometry Pattern Recognition in Natural Chaos</h5>
                   <h5><span class="list-number">2.</span>Execution Principles.</h5>
                   <h5>The Art of Market Making</h5>
                   <h5><span class="list-number">3.</span>Behavioral Principles.</h5>
                   <h5>The Art of Behavioral Reprogramming through Spirituality</h5>
                </div>
                <div class="section-link text-center">
                    <button class="y-btn text-white" type="button" routerLink="/plan">Sign up for the program</button>
                </div>
            </div>

            <div class="col-lg-6">
                <hr class="space-sm visible-md" />
                <a class="img-box  lightbox shadow-1">
                    <iframe allowfullscreen width="100%" height="315" src="https://www.youtube.com/embed/WybH3Z3tuxo">
                    </iframe>                    
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-base section-color section-top-overflow home-page-section">
    <div class="container container1"  id="philosophy" >
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">
                    <h2 class="text-darkblack">Our Philosophy</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 order-0 order-lg-1">
                <div class="grid-list list-gallery grid-wall-1" data-lightbox-anima="fade-top" data-columns="2">
                    <div class="grid-box">
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/philosophy-img-1.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/philosophy-img-4.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/philosophy-img-2.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/philosophy-img-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-0">
                <p>The issue with Technical Analysis is that it doesn't work. It is almost guaranteed to lead to overthinking, addiction, damage to self-esteem and even suicidal thoughts. It triggers gamblers behavioral patterns. Trying to win the trading game with TA is like scooping water with a shovel, very frustrating with no consistent results. That is because wrong principles are being applied on something that is a natural phenomenon. All processes in nature arranges themselves into certain very predictable geometrical shapes. Almost as if Universe itself is intelligent and contains all the information required for those shapes to form. We experience the sense of beauty whenever we look at a flower or hear a.</p>
            </div>
            <div class="col-md-12 order-2">
                <p class="">song because it is art. It is divine translated into material in a very specific sacred geometry pattern. We recognize beauty with our intuition not logic. When you look at the flower, why is it beautiful? How did flower know to shape itself like that? There is no logical reason for it, but there is a sacred one. The very same way sand arranges in similar beautiful patterns just under exposure of certain frequency in cymatics. Market works the same way. It is a pattern of naturally beautiful phenomena. If you look for the emerging beauty rather than logic you will find all the success you can ever hope for and a sense of unbelievable relief. Not just with the market but in general, a sense that everything happens in exactly the way it supposed to happen. There is no wrong or right it is just beautiful patterns. Sense of trust in the Universe is born. A power of nature behind your back. Once you program those principles into your subconscious, no one can take that away from you. All you need is yourself in a flow state, intuitive observations of beauty, deep understanding of sacred geometry and market maker execution. It isn't understanding in ordinary sense it is much deeper, it is a mix of arts, it sits right within your soul. No need for news anymore, no need to watch TA or follow anybody. You can put on relaxing music, drink some tea and have an absolute blast playing this game of life. Therefore, the purpose of this program is to reprogram your mind to closer flow with the truth of the universe.</p>
                <p class="mt-4 mb-0 font-weight-bold">Welcome to Mixed Trading Arts,</p> 
                <p class="mt-0 font-weight-bold">Kestutis</p>
            </div>
        </div>

    </div>
</section>

<section class="section-base section-color section-top-overflow home-page-section">
    <div class="container container1" id="program" >
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">
                    <h2 class="text-darkblack">About the Program</h2>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-lg-6">
                <div class="grid-list list-gallery grid-wall-1" data-lightbox-anima="fade-top" data-columns="2">
                    <div class="grid-box">
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/program-img-1.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/program-img-4.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/program-img-2.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item">
                            <a class="img-box">
                                <img src="assets/images/program-img-3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="section-content-list">
                    <li>Introduction to MTA principles course</li>
                    <li>Top trading tips</li>
                    <li>Master traders trading track record</li>
                    <li>Bitmex trading basics</li>
                    <li>Live Bitmex master trader mirror account (practicing purposes)</li>
                    <li>Weekly lectures 4 - 5 hours each (video, audio podcasts, fractal image library, reading material)</li>
                    <li>Exercises (trading and behavioural reprograming), application and consultations throughout the week in virtual classroom.</li> 
                    <li>Everything is recorded and can be viewed on your own time</li>
                    <li>Weekly execution, behavioral and universal principle reviews</li>
                    <li>Questions are answered in quick short videos throughout the week</li>
                    <li>Homework exercise with performance reviews every week</li>
                    <li>All required Indicators are free and included as a part of the program</li>
                    <li>Collection of trading books</li>
                    <li>Spiritual retreats</li>
                </ul>

            </div>
        </div> -->
        <div class="row align-items-start">
            <div class="col-lg-6">
                <div class="grid-list list-gallery grid-wall-1 grid-wall-new" data-lightbox-anima="fade-top" data-columns="2">
                    <div class="grid-box">
                        <div class="grid-item grid-item-new">
                            <a class="img-box">
                                <img src="assets/images/program-img-1.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item grid-item-new">
                            <a class="img-box">
                                <img src="assets/images/program-img-2.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item grid-item-new">
                            <a class="img-box">
                                <img src="assets/images/program-img-3.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item grid-item-new">
                            <a class="img-box">
                                <img src="assets/images/program-img-4.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item grid-item-new">
                            <a class="img-box">
                                <img src="assets/images/program-img-5.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="section-content-list">
                    <!-- <li>Introduction to MTA principles course</li>
                    <li>Top trading tips</li>
                    <li>Master traders trading track record</li>
                    <li>Bitmex trading basics</li>
                    <li>Collection of trading books</li>
                    <li>Live Bitmex master trader mirror account (practicing purposes)</li>
                    <li>Weekly lectures 4 - 5 hours each</li>
                    <li>Learning media types (video, audio podcast lectures, fractal image library, reading material)</li>
                    <li>Exercises, application and consultations throughout the week in virtual classroom</li>
                    <li>Weekly execution, behavioral and universal principle reviews</li>
                    <li>Live observations of the master trader</li>
                    <li>Everything is recorded and can be viewed on your own time</li>
                    <li>Questions are answered in quick short videos throughout the week</li>
                    <li>Theory and Practice</li>
                    <li>Homework exercises with performance reviews every week</li>
                    <li>Behavioral reprograming exercises</li>
                    <li>All required Indicators are free and included as a part of the program</li>
                    <li>Spiritual retreats</li> -->
                    <li> Introduction to MTA principles course</li>
                    <li>Top trading tips</li>
                    <li>Master trader's trading track record</li>
                    <li>Bitmex trading basics </li>
                    <li>Live Bitmex master trader mirror account (practicing purposes)</li>
                    <li>Weekly lectures 4 - 5 hours each (video, audio podcasts, fractal image library, reading material)</li>
                    <li> Exercises (trading and behavioural reprograming), application and consultations throughout the week in virtual classroom. </li>
                    <li> Everything is recorded and can be viewed on your own time </li>
                    <li> Weekly execution, behavioral and universal principle reviews </li>
                    <li> Questions are answered in quick short videos throughout the week</li> 
                    <li> Homework exercise with performance reviews every week </li>
                    <li> All required Indicators are free and included as a part of the program</li>
                    <li>Homework exercise with performance reviews every week </li>
                    <li>Collection of trading books</li>
                    <li>Spiritual retreats</li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section class="section-base section-color section-top-overflow home-page-section join-program">
    <div class="container container1" id="whyjoin" >
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">
                    <h2 class="text-darkblack">Why you should join the program?</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h6 class="font-weight-bold mb-4" style="color: #727376;">These are the benefit frequently reported by our students</h6>
                <ul class="section-content-list">
                    <li>Increased enjoyment through gamification of trading</li>
                    <li>Unlocking the powers of intuition for sacred pattern recognition</li>
                    <li>Elimination of trader's anxiety through elimination of technical paradigm</li>
                    <li>Flow state experience when in tune with the market</li>
                    <li>Increased calm and relaxation</li>
                    <li>Significant reduction of time required to make trading decision and execution</li>
                    <li>Reprogrammed behaviors instant gratification, anger and greed</li>
                    <li>Independence from external advice</li>
                    <li>Comfort with losing trades through trust in the game principles</li>
                </ul>

            </div>
        </div>

    </div>
</section>

<section class="section-base home-page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form class="form-box form-ajax form-inline">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>Type your email</p>
                            <input id="email" name="email" placeholder="" type="email" class="input-text" required>
                        </div>
                        <div class="col-lg-4">
                            <p></p>
                            <button class="login-btn sub-cr" type="submit">Subscribe</button>
                        </div>
                        <div class="form-checkbox">
                            <input type="checkbox" id="check" name="check" value="check" required>
                            <label for="check">You accept the terms of service and the privacy policy</label>
                        </div>
                    </div>

                </form>
            </div>
            <!-- order-md-first -->
            <div class="col-lg-4 ">
                <h2 class="text-darkblack subscribe-membership-label">Subscribe to a free membership</h2>
                <hr class="space-xs" />
                <p>We are going to kill a trader in you and have you reborn as a trading artist.<br>Find out more now.</p>
            </div>
        </div>
    </div>
</section>

<section id="news" class="section-base section-color testimonial-new home-page-section">
    <div class="container container1" >
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">
                    <h2 class="text-darkblack">Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid testimonial-people" src="assets/images/people-tom.png">
                                <div class="testimonial-people-info">
                                    <img class="img-fluid" src="assets/images/people-background.png">
                                </div>
                                <h2 class="people-name-mobile">Volia</h2>
                            </div>
                            <div class="col-md-7">
                                <div class="testimonial-content">
                                    <img class="top-quate" src="assets/images/testimonial-quate-1.png" alt="Quate">
                                    <p>When I joined the program friends called me an idiot. But they changed their mind when I began to consistently earn 40k per month.</p>
                                    
                                    <img class="bottom-quate" src="assets/images/testimonial-quate-2.png" alt="Quate">
                                </div>
                                <h2 class="people-name only-desktop">Volia</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid testimonial-people" src="assets/images/people-enrique.png">
                                <div class="testimonial-people-info">
                                    <img class="img-fluid" src="assets/images/people-background.png">
                                </div>
                                <h2 class="people-name-mobile">Enrique</h2>
                            </div>
                            <div class="col-md-7">
                                <div class="testimonial-content">
                                    <img class="top-quate" src="assets/images/testimonial-quate-1.png" alt="Quate">
                                    <p>I do appreciate the last couple of months in the class. I never thought that there is a creative element while looking at the market</p>
                                    <img class="bottom-quate" src="assets/images/testimonial-quate-2.png" alt="Quate">
                                </div>
                                <h2 class="people-name only-desktop">Enrique</h2>
                            </div>
                        </div>
                    </div>
                  <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid testimonial-people" src="assets/images/people-volia.png">
                                <div class="testimonial-people-info">
                                    <img class="img-fluid" src="assets/images/people-background.png">
                                </div>
                                <h2 class="people-name-mobile">Tom</h2>
                            </div>
                            <div class="col-md-7">
                                <div class="testimonial-content">
                                    <img class="top-quate" src="assets/images/testimonial-quate-1.png" alt="Quate">
                                    <p>It's crazy to hear myself speaking this way as its potentially realistic. Before I was a shit-coin trader now I can't believe the ROI I'm looking at yet enjoying every day while trading too.</p>
                                    <img class="bottom-quate" src="assets/images/testimonial-quate-2.png" alt="Quate">
                                </div>
                                <h2 class="people-name only-desktop" >Tom</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid testimonial-people" src="assets/images/people-marcus.png">
                                <div class="testimonial-people-info">
                                    <img class="img-fluid" src="assets/images/people-background.png">
                                </div>
                                <h2 class="people-name-mobile">Marcus</h2>
                            </div>
                            <div class="col-md-7">
                                <div class="testimonial-content">
                                    <img class="top-quate" src="assets/images/testimonial-quate-1.png" alt="Quate">
                                    <p>It is beyond remarkable how relaxed I am now with trading. Sure I'm in a great place at the moment, but besides that, I still have gains to lose, yet I don't care about these fluctuations.  So different compared to how I was before.  This is just amazing.</p>
                                    <img class="bottom-quate" src="assets/images/testimonial-quate-2.png" alt="Quate">
                                </div>
                                <h2 class="people-name only-desktop" >Marcus</h2>
                            </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="img-fluid testimonial-people" src="assets/images/people-gabriel.png">
                                <div class="testimonial-people-info">
                                    <img class="img-fluid" src="assets/images/people-background.png">
                                </div>
                                <h2 class="people-name-mobile">Gabriel</h2>
                            </div>
                            <div class="col-md-7">
                                <div class="testimonial-content">
                                    <img class="top-quate" src="assets/images/testimonial-quate-1.png" alt="Quate">
                                    <p>A different perspective, where intuition is nurtured while logic plays an important role in execution. Your fear and anxiety slowly dissipates as creativity and calmness takes over</p>
                                    <img class="bottom-quate" src="assets/images/testimonial-quate-2.png" alt="Quate">
                                </div>
                                <h2 class="people-name only-desktop" >Gabriel</h2>
                            </div>
                        </div>
                    </div>                
                </div>                
            </div>
        </div>
    </div>
</section>

<section class="section-base section-color home-page-section">
    <div class="container container1" id="newsection" > 
        <div class="row">
            <div class="col col-xs-12" >
                <div class="section-title-s5" >
                    <h2 class="text-darkblack">Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="grid-list" data-columns="1">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-blog-top boxed">
                                <a class="img-box ">
                                    <div class="blog-date pull-left">
                                        <span>March</span>
                                        <span>13-15</span>
                                    </div>
                                    <div class="boot_camp">
                                        <img src="assets/images/logo-image.png" alt="" class="text-center" width="50px" height="50px" />
                                        <h1>BOOT CAMP</h1>
                                    </div>
                                </a>
                                <div class="caption">
                                    <!-- <h2>
                                        Ten Red Bull Music Festival performers and musicians.
                                    </h2>
                                    <ul class="icon-list icon-list-horizontal">
                                        <li><i class="fas fa-bookmark yellow-color"></i><a>Events</a></li>
                                        <li class="icon-links">
                                            <a><i class="fab fa-facebook-f yellow-color"></i></a>
                                            <a><i class="fab fa-twitter yellow-color"></i></a>
                                            <a><i class="fab fa-linkedin-in yellow-color"></i></a>
                                        </li>
                                    </ul> -->
                                    <p>
                                        A fully transformational experience! Destroy the old paradigm of suffering and build the paradigm of bliss.
Inspiring teachings by Kestutis about reality of existence, Universe consciousness, human behavior.
Spiritual ceremonies, transformational breathwork, guided meditations.
Discover your inner piece, rejuvenate from deep within, reawaken your whole self.
                                    </p><p>
                                        Fresh made, organic food and snacks included.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="grid-list" data-columns="1">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-blog-side boxed">
                                <a class="img-box">
                                    <div class="blog-date">
                                        <span>April</span>
                                        <span>11</span>
                                    </div>
                                    <!-- <img src="assets/images/image-11.jpg" alt="" style="    max-width: 426px;
                                            width: 426px;
                                            margin-left: -106px; height: 289px;"> -->
                                        <div class="day-section">
                                            <h3>7 DAY Retreat in Bali</h3>
                                        </div>
                                </a>
                                <div class="caption">
                                    <h2 class="register-text">Register!</h2>
                                    <ul class="icon-list icon-list-horizontal">
                                        <li><i class="fas fa-bookmark yellow-color"></i><a>Music</a></li>
                                        <!-- <li class="icon-links">
                                            <a><i class="fab fa-facebook-f yellow-color"></i></a>
                                            <a><i class="fab fa-twitter yellow-color"></i></a>
                                            <a><i class="fab fa-linkedin-in yellow-color"></i></a>
                                        </li> -->
                                    </ul>
                                    <p>
                                        Registration is now open for 7 day retreat in Bali, get in touch to learn more!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-blog-side boxed">
                                <a class="img-box">
                                    <div class="blog-date">
                                        <span class="month-label">September</span>
                                    </div>
                                    <!-- <img src="assets/images/image-9.jpg" alt="" style="    max-width: 426px;
                                            width: 426px;
                                            margin-left: -106px;     height: 297px;"> -->
                                            <div class="day-section">    
                                            <h3>11 DAY Retreat in Bali</h3>
                                            </div> 
                                </a>
                                <div class="caption">
                                    <h2 class="register-text">Register!</h2>
                                    <ul class="icon-list icon-list-horizontal">
                                        <li><i class="fas fa-bookmark yellow-color"></i><a>Events</a></li>
                                        <!-- <li class="icon-links">
                                            <a><i class="fab fa-facebook-f yellow-color"></i></a>
                                            <a><i class="fab fa-twitter yellow-color"></i></a>
                                            <a><i class="fab fa-linkedin-in yellow-color"></i></a>
                                        </li> -->
                                    </ul>
                                    <p>
                                        Registration is now open for 11 day retreat in Bali, get in touch to learn more!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <section class="home-page-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">

                    <h2>Latest Videos</h2>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="col-lg-12">
                <div class="grid-list" data-columns="4" data-columns-lg="4" data-columns-md="2" data-columns-sm="1">
                      <div class="grid-box">
                        <div class="grid-item " *ngFor="let item of videoArr; let i= index;">
                            <a class="media-box media-box-half zoom" *ngIf="item.contenttype ==='Video'">
                                <div class="text-center">                                    
                                    <iframe width="255" height="160" [src]="item.content_url | safe"  (click)="playVideo()"></iframe>
                                </div>
                            </a>
                            <div>
                                <span>
                                    {{item.video_title}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</section> -->




<section class="contact-section contact-section-s2 section-padding home-page-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">
                    <h2 class="text-darkblack">We’d Love to Here From You!</h2>
                </div>
            </div>
        </div>
        <div class=" container justify-content-center">
            <div class="col col-lg-12 bg-lightyellow">
                <div class="content-area">
                    <!-- <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
                        dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam</p> -->
                    <div class="contact-form">
                        <!-- <form class="contact-validation-active contactForm" [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit()">
                            <div>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name*" formControlName="name"  [ngClass]="{'is-invalid':contactForm.get('name').touched && contactForm.get('name').invalid}">
                               <label class="text-left invalid-feedback"
                                    *ngIf="contactForm.get('name').errors?.required">
                                    Please enter name
                                </label>                                    
                            </div>
                            <div>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email*" formControlName="email"
                                [ngClass]="{'is-invalid':contactForm.get('email').touched && contactForm.get('email').invalid}" />
                                <div class="invalid-feedback text-left">
                                    <label class="text-left"
                                        *ngIf="contactForm.get('email').errors?.required">
                                        Please enter email id
                                    </label>
                                    <label class="text-left" *ngIf="contactForm.get('email').errors?.email">
                                        Please enter valid email id
                                    </label>
                                </div>
                            </div>
                            <div>
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*" formControlName="phone"
                                [ngClass]="{'is-invalid':contactForm.get('email').touched && contactForm.get('phone').invalid}" /> 
                                <label class="text-left invalid-feedback"
                                    *ngIf="contactForm.get('phone').errors?.required">
                                    Please enter phone number
                                </label>     
                            </div>
                            <div>
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject*" formControlName="subject"
                                [ngClass]="{'is-invalid':contactForm.get('subject').touched && contactForm.get('subject').invalid}" /> 
                                <label class="text-left invalid-feedback"
                                    *ngIf="contactForm.get('subject').errors?.required">
                                    Please enter subject
                                </label>     
                            </div>                            
                            <div class="fullwidth">
                                <textarea class="form-control" name="description" id="description"
                                    placeholder="Case Description..." formControlName="description"
                                    [ngClass]="{'is-invalid':contactForm.get('description').touched && contactForm.get('description').invalid}"></textarea>
                                    <label class="text-left invalid-feedback"
                                *ngIf="contactForm.get('subject').errors?.required">
                                Please enter description
                            </label>    
                            </div>
                            <div class="submit-area">
                                <button type="submit" class="theme-btn submit-btn">Submit Now</button>
                                <div id="loader">
                                    <i class="ti-reload"></i>
                                </div>
                            </div>

                        </form> -->
                        <button type="button" [routerLink]="['/contactus']" class="btn btn-contactus">Contact us</button>
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>



<!-- <footer class="footer-parallax light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Company and team</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Company details and team</a>
                            </li>
                            <li>
                                <a href="#">News and blog</a>
                            </li>
                            <li>
                                <a href="#">Press area</a>
                            </li>
                            <li>
                                <a href="#">Affiliates and marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Help and support</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Help centre</a>
                            </li>
                            <li>
                                <a href="#">Feedbacks</a>
                            </li>
                            <li>
                                <a href="#">Request new features</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Learn more</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
    
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Privacy and terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Follow us</h4>
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="twitter"><i class="fab fa-twitter"></i></a>
                        <a class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                        <a class="youtube"><i class="fab fa-youtube"></i></a>
                        <a class="instagram"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    </footer> -->