.mr-10{
    margin-right: 10px;;
}
.mt-25{
    margin-top: 25px;
}
.pull-right{
    float: right;

}
.welcome-div{
    width: 100%;
}
.cmg-soon{
    font-size: 72px;
}
.welcome-div h1{



    padding-top: 150px;
}

.welcome-div h2{



    padding-top: 25px;
}
/* .controls .progress{
    display: none;
} */

::ng-deep .controls .progress {
    display: none;
   }
   ::ng-deep .volume-control .volume-slider {
    display: none;
}
iframe{
    border: 0px !important;
}