::ng-deep .mat-focused .mat-form-field-label {
    color: #f8b12c !important;
   }
  ::ng-deep.mat-form-field-ripple {
   background-color: #f8b12c !important;;
  }
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0 12px !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.example-container {
    height: 346px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  tr.mat-footer-row, tr.mat-row, tr.mat-header-row{
    height: 30px;
}

  
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
   opacity: 1;
   background: linear-gradient(180deg, rgb(246, 175, 44) 0%, rgb(255, 206, 114) 100%);
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#056ea0', endColorstr='#01a3e2', GradientType=0);
   color: #fff !important;
   border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b500 !important;
}

::ng-deep.mat-header-cell {
  font-size: 16px;
  font-weight: 500;
}
::ng-deep.mat-cell, .mat-footer-cell {
  font-size: 17px;
}
::ng-deep.mat-tab-label, .mat-tab-link {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 500;
}


  .bottom-div{
    position: absolute;

bottom: 81px;

left: 30%;

z-index: 99;
  }
  .current{
    background-color: #f6b02c;

color:
#fff;
  }
  .monthly{
    background-color: #707070;
    
  }
  .lifetime{
    background-color: #45a745;
  }
  .plan-img{
    position: relative;
  }
  .neg-mar{
    margin-top: -14px;
  }
  .card-div{
    width: 280px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px #0000002b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 37px;
    
  }
  .cal-div{
    padding: 20px;
    width: 116px;
  }
.color-div{
  padding: 20px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.subscription-time{
 
  font-size: 18px;
   color:#575757;
}
.pd-25{
  padding: 27px;
}
.pd-30{
  padding: 30px;
}
@media (max-width: 970px){
  .card-div{
    width: 100%;
  }
  .subscription-time{
    font-size: 14px;
   
}
    
  }
  .monthly-btn{
    background: rgb(219,219,219);
background: radial-gradient(circle, rgba(219,219,219,1) 0%, rgba(112,112,112,1) 100%);
  }
  .lifetime-btn{
    background: rgb(118,245,118);
background: radial-gradient(circle, rgba(118,245,118,1) 0%, rgba(69,167,69,1) 100%);
  }
