<div class="wrapper page-inner content-fixed pd-tp">
    <div class="container-fluid  ">
        <div class="row m-auto">
            <div class="col-md-4">

                <div class="box-shadow custom-card-width2">
                    <div class="row justify-content-md-center  ">

                        <div class="col-md-auto pad-cls custom-card-width2" *ngIf="details.fname!==''">
                            <div class=" " style="margin: 10px;">
                                <div class="profile-bg mt-3">
                                    <div class="text-center">
                                        <!-- <i *ngIf="!details.avatar || details.avatar===''" class="fa fa-user-circle"
                                style="font-size: 120px"></i> -->

                                        <i class="material-icons" *ngIf="!details.avatar || details.avatar===''"
                                            style="font-size: 120px"> account_box </i>
                                        <img src="{{details.avatar}}" *ngIf="details.avatar && details.avatar!==''"
                                            class="profileavatar-selected" [ngStyle]="{'width':'35%'}">
                                    </div>
                                    <div class="text-center lab-neme mt-2" *ngIf="details.fname && details.fname!==''">
                                        <label> {{details.fname | uppercase}} {{details.lname | uppercase}}</label>
                                    </div>

                                </div>
                                <div class=""
                                    style="line-height: 30px;     margin-top: 13px;  margin-bottom: 23px;   display: grid;">

                                    <div class="lat-p" *ngIf="details.email && details.email !==''"
                                        style="display: inline-flex;">
                                        <div>

                                            <img src="assets/images/message.png" width="20px"
                                                style="    margin-right: 4px;">
                                        </div>
                                        <div style="display: inline-flex;">


                                            <label class="ml-10" style="font-size: 14px; word-break: break-all;">
                                                {{details.email}}</label>
                                            <span>
                                                <mat-icon matTooltip="Email is not verified"
                                                    *ngIf="details.email_verified == 0"
                                                    class="mat-icons-posstion icon-sizes" style="color: #DD5140;  ">
                                                    report_problem</mat-icon>
                                                <mat-icon matTooltip="Email is verified"
                                                    *ngIf="details.email_verified == 1"
                                                    class="mat-icons-posstion icon-sizes" style="color: #1DA462">
                                                    check_circle</mat-icon>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="lat-p" *ngIf="details.phone && details.phone !==''"
                                        style="display: inline-flex;">
                                        <div>

                                            <img src="assets/images/call.png" width="25px">
                                        </div>
                                        <div style="display: inline-flex;">
                                            <span>

                                                <label class="ml-10" style="font-size: 14px; word-break: break-all;">
                                                    {{details.phone}}</label>
                                            </span>

                                            <span>
                                                <mat-icon matTooltip="Phone is not verified"
                                                    *ngIf="details.phone_verified == 0"
                                                    class="mat-icons-posstion icon-sizes" style="color: #DD5140">
                                                    report_problem</mat-icon>
                                                <mat-icon matTooltip="Phone is verified"
                                                    *ngIf="details.phone_verified == 1"
                                                    class="mat-icons-posstion icon-sizes" style="color: #1DA462">
                                                    check_circle</mat-icon>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="lat-p" *ngIf="details.address && details.address !==''"
                                        style="display: inline-flex;">
                                        <div>
                                            <img src="assets/images/location.png" width="25px">

                                        </div>
                                        <div>

                                            <label class="ml-10" style="font-size: 14px;">
                                                <span class="text-center"> {{details.address}}<span
                                                        *ngIf="details.city">,</span>
                                                    {{details.city}}<span *ngIf="details.state">,</span>
                                                    {{details.state}}<span *ngIf="details.zipcode">,</span>
                                                    {{details.zipcode}}<span *ngIf="details.country">,</span>
                                                    {{details.country}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button mat-raised-button class="grad-css mt-2" href="javascript:void(0)"
                                            [routerLink]="['/profile/edit']">Edit <i class="material-icons"
                                                style="font-size: 15px; margin-bottom: 4px;"> edit
                                            </i> </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>





            </div>
            <div class="col-md-8">

                <div class="box-shadow auth-pad ">
                    <div class="profile-bg mt-3">

                        <p class="auth-heading">Authorized Application</p>
                        <p class="neg-mar">You can manage your bitmex account authorization here. Kindly note we do not reserve any
                            right to write
                            into your bitmex account. We can neither place new order nor we can we withdraw funds from
                            your account</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="auth-sec-div">

                                <h6>Only read access to Order Access</h6>
                                <p class="mt--12">Some Text</p>
                                <h6>Only read access to Order Access</h6>
                                <p class="mt--12">Some Text</p>
                                <h6>Only read access to Order Access</h6>
                                <p class="mt--12">Some Text</p>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="text-center">
                                <img src="assets/images/bitmex-testnet-logo.png" alt="" class="bitmex-logo">
                                <!-- <p class="bitmex-logo-text">Nov 15, 2019 12.34.20</p> -->

                                <p class="bitmex-logo-text">Please Use Bitmex Testnet Credentials</p>
                            </div>

                            <div *ngIf="!details.api_key_status">
                                <form [formGroup]="keyForm">

                                    <mat-form-field class="col-md-12 neg-mar">
                                        <input matInput type="text" formControlName="id" placeholder="API Key ID" maxlength="24">
                                    </mat-form-field>

                                    <mat-form-field class="col-md-12">
                                        <input matInput type="text" formControlName="key" placeholder="API Key Secret" maxlength="48">
                                    </mat-form-field>

                                            
                                        <div class="text-center">
                                            <span>
                                                <button mat-raised-button class="new-access-btn mb-2" (click)="apiKeySubmit()">New Access</button>
                                            </span>
                                            <!-- <span>
                                                <button mat-raised-button color="warn" class="ml-10">Revoke</button>
                                            </span> -->
                                        </div>

                                    
                                </form>
                            </div>

                            <div class="text-center" *ngIf="details.api_key_status">
                                <span>
                                    <p class="account-key neg-mar">API Key ID: {{details.api_key_id}}</p>
                                    <p class="account-key neg-mar">API Key Secret: {{details.api_key_secret}}</p>
                                </span>

                            </div>
                            <div class="text-center" *ngIf="details.api_key_status">

                                <span>
                                    <button mat-raised-button color="warn" class="ml-10" (click)="removeAccess()">Revoke</button>
                                </span>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>




        <section>
            <div class="row m-auto">
                <div class="col-md-4">

                    <img class="video-watched" src="assets/images/video-watched.png" alt="">

                </div>
                <div class="col-md-8">
                    <div class="m-82">
                        <p class="p-css">
                            Change Password
                        </p>
                        <p class="mt--17 mr-bt0">
                            If you notice suspicious activity , we recommend changing your password.
                        </p>

                        <div>
                            <a class="p-danger-css" href="javascript:void(0)" [routerLink]="['/changepassword']"
                                routerLinkActive="router-link-active">Change Password</a>
                        </div>
                        <!-- <p class="p-danger-css">
                            Change Password
                        </p> -->
                        <p class="p-css mr-tp30">
                            Active sessions
                        </p>
                        <p class="mt--17">
                            Information about the use of your account on other devices.
                        </p>
                        <!-- <p class="p-danger-css">
                            Terminate all other sessions </p> -->


                        <div class="box-shadow p-2 " *ngIf="logsdata">
                            <div class="session-box">

                                <span>
                                    <i class="material-icons device-icon">
                                        devices
                                    </i>
                                </span>
                                <span>
                                    <p class="session-details"><strong class="text-darkblack">Operating System:</strong> {{logsdata?.os}}
                                        &nbsp;&nbsp; <strong class="text-darkblack">Device:</strong> {{logsdata?.type}} &nbsp;&nbsp;
                                        <strong class="text-darkblack">Browser:
                                        </strong> {{logsdata?.browser}} &nbsp;&nbsp; <strong class="text-darkblack">IP Address:</strong>
                                        {{logsdata?.ipaddress}}
                                    </p>
                                </span>
                            </div>
                            
                             <div class="mt-2">

                                <a class="p-danger-css" href="javascript:void(0)" [routerLink]="['/loginlogs']"
                                    routerLinkActive="router-link-active">Show All</a>

                                <!-- <i class="material-icons">
                                    close
                                </i> -->
                            </div>
                            
                        </div>
                       
                    </div>



                </div>
            </div>
        </section>

        <section class="mt-65">

            <div class="row m-auto">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-4 col-sm-6  text-center ">
                            <div class="card-div">

                                <div class="current text-center color-div">
                                    <h3 style="color: #fff; font-size: 18px;">Current Subscription</h3>
                                    <h2 style="color: #fff; font-size: 18px;">{{subsData?.newsletter}}</h2>
                                    <h1 style="color: #fff; font-size: 23px;">{{subsData?.btcamount}} BTC</h1>
                                </div>
                                <div>
    
                                    <img src="assets/images/plan1.png" alt=""  class="cal-div">
                                </div>
                                <div class="text-center pd-30">
                                    <h3 class="subscription-time">
                                        Expires on: {{subsData?.expiry_date |  date:'MM-dd-yyyy'}}
                                    </h3>
                                    <!-- <button mat-raised-button class="grad-css"> Top Up</button> -->
                                </div>
                            </div>

                           

                        </div>
                        <!-- <div class="col-md-4 text-center ">
                            <div class="top-div text-center">

                                <h3 style="color: #fff; font-size: 18px;">Current Subscription</h3>
                                <h2 style="color: #fff; font-size: 18px;">Monthly</h2>
                                <h1 style="color: #fff; font-size: 23px;">0.00001 BTC</h1>
                            </div>
                            <div class="bottom-div">
                                <h3 style="font-size: 18px; color: #575757; position: relative; left: 10%;">
                                    Expires on: 25-11-2019
                                </h3>
                            </div>
                            <img src="../../../assets/images/plan2.png" alt="" class="plan-img ">

                        </div> -->
                        <div class="col-md-4  col-sm-6 text-center " *ngFor="let item of membershipPlans; let i= index;">
                            <div  class="card-div">

                                <div class="monthly text-center color-div" *ngIf="item.fullplan !== 'Lifetime Membership'">
    
                                    <h3 style="color: #ffffff; font-size: 18px;">Upgrade Subscription</h3>
                                    <h2 style="color: #fff; font-size: 18px; ">{{item.fullplan}}</h2>
                                    <h1 style="color: #fff; font-size: 23px;">{{item.amount}} BTC</h1>
                                </div>

                                <div class="lifetime text-center color-div" *ngIf="item.fullplan === 'Lifetime Membership'">
    
                                    <h3 style="color: #ffffff; font-size: 18px;">Upgrade Subscription</h3>
                                    <h2 style="color: #fff; font-size: 18px; ">{{item.fullplan}}</h2>
                                    <h1 style="color: #fff; font-size: 23px;">{{item.amount}} BTC</h1>
                                </div>

                                <div class="center-div text-center">
                                    <img *ngIf="item.fullplan !== 'Lifetime Membership'" class="cal-div" src="assets/images/plan3.png"
                                    alt="">
                                <img *ngIf="item.fullplan === 'Lifetime Membership'"  class="cal-div" src="assets/images/plan4.png"
                                    alt="" >
                                </div>
                                <div class="text-center pd-25">
                                    <!-- <h3 style="font-size: 18px; color: #575757; position: relative; left: 10%;">
                                        Expires on: 25-11-2019
                                    </h3> -->
                                    <button *ngIf="item.fullplan !== 'Lifetime Membership'" mat-raised-button class="monthly-btn "
                                        [routerLink]="['/paymenthistory']"> Top Up</button>

                                        <button *ngIf="item.fullplan === 'Lifetime Membership'" mat-raised-button class="lifetime-btn "
                                        [routerLink]="['/paymenthistory']"> Top Up</button>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <!-- <div class="mt-30">
                            <div class="row m-auto">
                                    <div class="col-md-12">
                                        
                            <owl-carousel-o [options]="customOptions" class="">
                              <ng-template carouselSlide>

                                    <div class="current-plan mt-responsive">
                                            <div class="currency">
                                              <span class="ml-2">Bitcoin</span>
                                            </div>
                                            <div class="price-variation">
                                              <p class="m-0">1765 BTC</p>
                                              <p class="m-0">12500 USD</p>
                                            </div>
                                            
                                          </div>
                                   
                              </ng-template>
                              <ng-template carouselSlide>
                                    <div class="upgrade-plan mt-responsive">
                                            <div class="currency">
                                              <span class="ml-2">Bitcoin</span>
                                            </div>
                                            <div class="price-variation">
                                              <p class="m-0">1765 BTC</p>
                                              <p class="m-0">12500 USD</p>
                                            </div>
                                            
                                          </div>
                                   
                              </ng-template>
                              <ng-template carouselSlide>
                                    <div class="upgrade-plan mt-responsive">
                                            <div class="currency">
                                              <span class="ml-2">Bitcoin</span>
                                            </div>
                                            <div class="price-variation">
                                              <p class="m-0">1765 BTC</p>
                                              <p class="m-0">12500 USD</p>
                                            </div>
                                            
                                          </div>
                                   
                              </ng-template>
                              <ng-template carouselSlide>
                                    <div class="upgrade-plan mt-responsive">
                                            <div class="currency">
                                              <span class="ml-2">Bitcoin</span>
                                            </div>
                                            <div class="price-variation">
                                              <p class="m-0">1765 BTC</p>
                                              <p class="m-0">12500 USD</p>
                                            </div>
                                            
                                          </div>
                                   
                              </ng-template>
                              <ng-template carouselSlide>
                                    <div class="upgrade-plan mt-responsive">
                                            <div class="currency">
                                              <span class="ml-2">Bitcoin</span>
                                            </div>
                                            <div class="price-variation">
                                              <p class="m-0">1765 BTC</p>
                                              <p class="m-0">12500 USD</p>
                                            </div>
                                            
                                          </div>
                                    
                              </ng-template>
                              
                            </owl-carousel-o>
                                        </div>
                                        </div>
                          </div> -->


                </div>
                <!-- <div class="col-md-12 mt-65">
                    <div class="box-shadow auth-pad ">
                        <div class="payment-heading">
                            <p class="auth-heading">
                                Payment History
                            </p>
                        </div>

                        <div class="table-res mt-10  mat-elevation-z8">
                            <div class="example-container">


                                <table matSort mat-table [dataSource]="transactionSource"
                                    class="mat-elevation-z8 my-aacount-table example-container">

                                    <ng-container matColumnDef="Plan">
                                        <th mat-header-cell *matHeaderCellDef>Plan</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.Plan}} </span></td>
                                    </ng-container>

                                    <ng-container matColumnDef="TxId">
                                        <th mat-header-cell *matHeaderCellDef>Transaction Id</th>
                                        <td mat-cell *matCellDef="let record"> {{record.TxId}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Amount">
                                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                                        <td mat-cell *matCellDef="let record"> {{record.Amount}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Date">
                                        <th mat-header-cell *matHeaderCellDef>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.Date}} </td>
                                    </ng-container>




                                    <tr mat-header-row *matHeaderRowDef="trasactionColumns sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: trasactionColumns;"></tr>
                                </table>
                            </div>

                            <mat-paginator style="display:none" #paginator [pageSizeOptions]="[5, 10, 15]"
                                showFirstLastButtons>
                            </mat-paginator>

                        </div>
                    </div>

                </div> -->
            </div>


        </section>




        <section class="mt-65">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title-s5">

                            <h2>My favourite Video/Post</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-list" data-columns="4" data-columns-lg="4" data-columns-md="2"
                            data-columns-sm="1">
                            <div class="grid-box">
                                <div class="grid-item">
                                    <a href="javascript:void(0)" class="media-box media-box-half">
                                        <img src="assets/images/image-1.jpg" alt="">
                                        <div class="caption">
                                            <h2>Jessica Adams Exibition</h2>
                                            <div class="extra-field">Technology</div>
                                            <p>
                                                Lorem ipsum dolore incididunto pertinole adio.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item">
                                    <a href="javascript:void(0)" class="media-box media-box-half">
                                        <img src="assets/images/image-2.jpg" alt="">
                                        <div class="caption">
                                            <h2>How to change your business mind</h2>
                                            <div class="extra-field">Business</div>
                                            <p>
                                                Lorem ipsum dolore mio consectetur adio pertinole.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item">
                                    <a href="javascript:void(0)" class="media-box media-box-half">
                                        <img src="assets/images/image-1.jpg" alt="">
                                        <div class="caption">
                                            <h2>Jessica Adams Exibition</h2>
                                            <div class="extra-field">Technology</div>
                                            <p>
                                                Lorem ipsum dolore conseididunto pertine.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="grid-item">
                                    <a href="javascript:void(0)" class="media-box media-box-half">
                                        <img src="assets/images/image-2.jpg" alt="">
                                        <div class="caption">
                                            <h2>How to change your business mind</h2>
                                            <div class="extra-field">Business</div>
                                            <p>
                                                Lorem ipsum dolore consectetur pertinole.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>