<!DOCTYPE html>
<html>
<head>
    <title>Mixed Trading Arts</title>
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100% !important;
            width: 100% !important;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Forces Outlook.com to display emails full width. */
        .ExternalClass {
            width: 100%;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        /* What it does: Fixes webkit padding issue. */
        table {
            border-spacing: 0 !important;
        }

        /* What it does: Fixes Outlook.com line height. */
        .ExternalClass,
        .ExternalClass * {
            line-height: 100%;
        }

        /* What it does: Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-collapse: collapse;
            table-layout: fixed;
            margin: 0 auto;
        }

        table table table {
            table-layout: auto;
        }

        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode: bicubic;
        }

        /* What it does: Overrides styles added when Yahoo's auto-senses a link. */
        .yshortcuts a {
            border-bottom: none !important;
        }

        /* What it does: Overrides blue, underlined links auto-detected by iOS Mail. */
        /* More Info: https://litmus.com/blog/update-banning-blue-links-on-ios-devices */
        .mobile-link--footer a {
            color: #666666 !important;
        }

        /* What it does: Overrides styles added images. */
        img {
            border: 0 !important;
            outline: none !important;
            text-decoration: none !important;
        }

        /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */
        @media only screen and (min-width: 611px) {
            .email-container {
                width: 900px !important;
            }
        }

        /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */
        @media only screen and (max-width: 610px) {
            .email-container {
                width: 100% !important;
                max-width: none !important;
            }
        }
        .btn {
            font-weight: 800;
            font-size: 16px;
            padding: 10px 50px;
            text-transform: uppercase;
            color: #fff;
            background: #00BB39;
            display: inline-block;
            border-radius: 0;
            transition: all 0.3s ease;
            border: 1px solid transparent;
            text-align: center;
            text-decoration: none;
            margin: 10px auto;
        }
    </style>
</head>
<body>
<table style="border-collapse:collapse; table-layout:fixed; margin:0 auto;" height="100%" bgcolor="#fafafa" border="0"
       cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <!-- Visually Hidden Preheader Text : BEGIN -->
            <div style="display:none; visibility:hidden; opacity:0; color:transparent; height:0; width:0; line-height:0; overflow:hidden; mso-hide: all;">
            </div>
            <!-- Visually Hidden Preheader Text : END -->
            <!-- Outlook and Lotus Notes don't support max-width but are always on desktop, so we can enforce a wide, fixed width view. -->
            <!-- Beginning of Outlook-specific wrapper : BEGIN -->
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
            <![endif]-->
            <!-- Beginning of Outlook-specific wrapper : END -->
            <!-- Email wrapper : BEGIN -->
            <table style="max-width:900px; margin:auto;" class="email-container" align="center" border="0"
                   cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td style="border-left: 5px solid #fafafa; border-right: 5px solid #fafafa;">
                       
                        <table style="border: 1px solid #e9e9e9;" bgcolor="#ffffff" border="1" cellpadding="0"
                               cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td style="padding-top:4%; padding-left:4%; padding-right:2%;border: 1px solid #e9e9e9;"
                                    align="left" valign="middle">
                                    <h1  style="margin-top: 0;color: #565656;font-weight: 700;font-size: 36px;margin-bottom: 18px;font-family: Avenir, sans-serif;line-height: 42px;">Hello <%= fname %> <%= lname %>,</h1><br />
                                    You've received this message because you have registered for "MTA Membership (Mixed Trading Arts)" from mixedtradingarts.com. For your records you will find your invoice number below. To complete payment please click the link below. We will be mailing out our first newsletter very soon and we hope you will enjoy!
                                    <br/><br>
                                    To pay for this item please go to   
                                    <br/><br>
                                    Please click on the link that has been sent to your email account to verify your email and continue to login.
                                    <br/><br>
                                    <a href="<%=LINK%>" class="btn">Activate Account</a><br><br>
                                    If the above link does not work, Please <a href="<%=LINK%>">Click here</a>
                                    <br><br>
                                    This is an automated message. Please, do not reply to it. For more details please contact us at support@mixedtradingarts.com
                                    <br/><br>
                                    Best Regards,
                                    <br><a class="link" href="<%= url %>">mixedtradingarts.com</a><br><br>
                                </td>
                            </tr><!-- Single Fluid Image, No Crop : END --></tbody>
                        </table><!-- Main Email Body : END --></td>
                </tr><!-- Footer : BEGIN -->
                </tbody>
            </table><!-- Email wrapper : END --><!-- End of Outlook-specific wrapper : BEGIN -->
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]--><!-- End of Outlook-specific wrapper : END --></td>
    </tr>
    </tbody>
</table>
</body>
</html>
