<div class="wrapper page-inner content-fixed">
  <div class="conatiner w-100">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <div>
            <mat-card-content>
              <mat-card>
                <h5>Category</h5>

                <button mat-raised-button (click)="newCat=true;" >Add New Category</button>

<div *ngIf="newCat" > 
  <mat-form-field>
    <input matInput #catValue placeholder="New Category...">
  </mat-form-field>
  <button mat-button (click)="saveNewCat(catValue.value)">Save</button>
  <button mat-button (click)="newCat=false;">Cancel</button>
</div>


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node;let i=index"
                 matTreeNodeToggle
                 matTreeNodePadding>
    <button mat-icon-button disabled></button> 
    <!-- <mat-checkbox class="checklist-leaf-node"
                  [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="checklistSelection.toggle(node);"
                  draggable="true"
                  (dragstart)="handleDragStart($event, node);"
                  (dragover)="handleDragOver($event, node);"
                  (drop)="handleDrop($event, node);"
                  (dragend)="handleDragEnd($event);"></mat-checkbox> -->
                  {{node.item | titlecase }} 
    <button  mat-icon-button (click)="todoLeafItemSelectionToggle(node)" ><mat-icon>delete</mat-icon></button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-form-field>
      <input matInput #itemValue placeholder="New item...">
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                 matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>{{node.item | titlecase}}  

    <!-- <mat-checkbox [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                  draggable="false"
                  
                  [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  >{{node.item}}</mat-checkbox> -->
    <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button> -->
    <a  routerLink="/subcategory" class="text-black"><mat-icon>add</mat-icon></a>
    <button  mat-icon-button (click)="deleteCategory(node,i)" ><mat-icon>delete</mat-icon></button>
  </mat-tree-node>
</mat-tree>

<span #emptyItem></span>

              </mat-card>

            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






