<section class="contact-section contact-section-s2 section-padding home-page-section">
    <div class="container container1">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">
                    <h2>Affiliate Marketing</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-8 col-lg-offset-2">
                <div class="content-area">
                    <div class="contact-form">
                        <form class="contact-validation-active affiliateMarketingForm" [formGroup]="affiliateMarketingForm" (ngSubmit)="onAffiliateMarketingFormSubmit()">
                            <div>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name*" formControlName="name"  [ngClass]="{'is-invalid':affiliateMarketingForm.get('name').touched && affiliateMarketingForm.get('name').invalid}">
                               <label class="text-left invalid-feedback"
                                    *ngIf="affiliateMarketingForm.get('name').errors?.required">
                                    Please enter name
                                </label>                                    
                            </div>
                            <div>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email*" formControlName="email"
                                [ngClass]="{'is-invalid':affiliateMarketingForm.get('email').touched && affiliateMarketingForm.get('email').invalid}" />
                                <div class="invalid-feedback text-left">
                                    <label class="text-left"
                                        *ngIf="affiliateMarketingForm.get('email').errors?.required">
                                        Please enter email id
                                    </label>
                                    <label class="text-left" *ngIf="affiliateMarketingForm.get('email').errors?.email">
                                        Please enter valid email id
                                    </label>
                                </div>
                            </div>
                            <div class="fullwidth">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*" formControlName="phone"
                                [ngClass]="{'is-invalid':affiliateMarketingForm.get('email').touched && affiliateMarketingForm.get('phone').invalid}" /> 
                                <label class="text-left invalid-feedback"
                                    *ngIf="affiliateMarketingForm.get('phone').errors?.required">
                                    Please enter phone number
                                </label>     
                            </div>
                            <div class="fullwidth">
                                <textarea class="form-control" name="description" id="description"
                                    placeholder="Description..." formControlName="description"
                                    [ngClass]="{'is-invalid':affiliateMarketingForm.get('description').touched && affiliateMarketingForm.get('description').invalid}"></textarea>
                                    <label class="text-left invalid-feedback"
                                *ngIf="affiliateMarketingForm.get('subject').errors?.required">
                                Please enter description
                            </label>    
                            </div>
                            <div class="submit-area">
                                <button type="submit" class="theme-btn submit-btn">Submit Now</button>
                                <div id="loader">
                                    <i class="ti-reload"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>