<div class="p-40 custom-padding-card login-bg1">
	<div class="pad-top65" *ngIf="reg_form">
		<h4>
			<div id="time" class="text-primary text-center">00:00:00</div>
		</h4>
	</div>
	<div class="p-20">
		<mat-card-content>
			<form class="my-form form-data" [formGroup]="newUserFrom" *ngIf="reg_form">
				<mat-card class="row custom-card-width box-shadow">
					<div class="login-title text-center mt-3">
						<h2 _ngcontent-kec-c7="">Registration</h2>
					</div>
					<mat-form-field class="col-md-12 mt-3">
						<mat-select placeholder="Select Mixed Trading Arts Program"
							matNativeControl required formControlName="newsletter">
							<!-- <mat-option *ngFor="let item of membershipPlans"
								value="{{item.fullplan}}">{{item.fullplan}} <span
									class="spn-price">{{item.amount}} BTC</span>
							</mat-option> -->
							<mat-option value="1">{{selectedFullPlanName}}</mat-option>		
							<mat-option value="2" *ngIf="installmentPlan">Pay In
								Installments {{installmentPlan}} BTC Now</mat-option>		
						</mat-select>
						<mat-error *ngIf="fc.newsletter.hasError('required')">
							This field is required
						</mat-error>					
					</mat-form-field>
					<mat-form-field class="example-full-width col-md-12">
						<mat-select placeholder="Select Payment Type" matNativeControl required
							formControlName="PaymentType">
							<mat-option value="Bitcoin">Bitcoin</mat-option>
						</mat-select>
						<mat-error *ngIf="fc.PaymentType.hasError('required')">
							This field is required
						</mat-error>
					</mat-form-field>
					<mat-form-field class="example-full-width col-md-12">
						<input matInput placeholder="Referral Code" name="rcode"
							matNativeControl formControlName="ReferralCode">
					</mat-form-field>
					<mat-form-field class="example-full-width col-md-12">
						<input matInput placeholder="Email" name="email" matNativeControl
							required formControlName="email">
						<mat-error *ngIf="fc.email.hasError('required')">
							This field is required
						</mat-error>
						<mat-hint>A payment link will be emailed to you</mat-hint>
					</mat-form-field>
					<mat-form-field class="example-full-width  col-md-12">
						<input matInput [type]="hide ? 'password' : 'text'"
							formControlName="password" autocomplete='password'
							placeholder="Password" matNativeControl required>
						<button mat-icon-button matSuffix (click)="hide = !hide"
							[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
							<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-error *ngIf="fc.password.touched && fc.password.errors">
							<mat-error *ngIf="fc.password.errors.required">Password is
								required
							</mat-error>
							<mat-error *ngIf="fc.password.errors.pattern">Password is not
								valid (Must contain at least one
								number, one uppercase and lowercase letter, one special
								characters,
								and
								at least 8 or more characters)</mat-error>
						</mat-error>
						<mat-hint *ngIf="fc.password.errors"> Must contain at least one number,
							one uppercase and lowercase
							letter, one special
							characters,
							and
							at least 8 or more characters</mat-hint>
					</mat-form-field>
					<mat-form-field class="example-full-width col-md-6">
						<input matInput placeholder="First Name" name="fname" matNativeControl
							required formControlName="fname">
						<mat-error *ngIf="fc.fname.hasError('required')">
							This field is required
						</mat-error>
					</mat-form-field>
					<mat-form-field class="example-full-width  col-md-6">
						<input matInput placeholder="Last Name" name="lname" matNativeControl
							required formControlName="lname">
						<mat-error *ngIf="fc.lname.hasError('required')">
							This field is required
						</mat-error>
					</mat-form-field>
					<mat-form-field class="col-md-12">
						<ngx-mat-intl-tel-input matInput
							[preferredCountries]="['us', 'in', 'gb']"
							[enablePlaceholder]="true" name="phone" formControlName="phone"
							#phone>
						</ngx-mat-intl-tel-input>
						<mat-hint>By providing my phone number I agree to accept occasional text
							messages and/or prerecorded
							messages from mixedtradingarts.com</mat-hint>
						<mat-error *ngIf="fc.phone.touched && fc.phone.errors">
							<!-- <mat-error *ngIf="fc.phone.errors.required">Mobile Number is required!</mat-error> -->
							<mat-error *ngIf="fc.phone.errors.validatePhoneNumber">Mobile
								number is invalid</mat-error>
						</mat-error>
					</mat-form-field>
					<mat-form-field class="example-full-width col-md-12">
						<input matInput placeholder="Address" name="address" matNativeControl
							formControlName="address">
						<mat-hint>(Optional)</mat-hint>
					</mat-form-field>

					<mat-form-field class="example-full-width col-md-4">
						<input matInput placeholder="City" name="city" matNativeControl
							formControlName="city">
					</mat-form-field>
					<mat-form-field class="example-full-width col-md-4">
						<input matInput placeholder="State/Region" name="state" matNativeControl
							formControlName="state">
						<mat-hint>Abbreviation e.g. NY or NV</mat-hint>
					</mat-form-field>
					<mat-form-field class="example-full-width col-md-4">
						<input matInput placeholder="Zip/Postal Code" name="zipcode"
							matNativeControl formControlName="zipcode">
						<mat-error *ngIf="fc.zipcode.touched && fc.zipcode.errors">
							<mat-error *ngIf="fc.zipcode.errors.pattern">Zipcode is not
								valid (Please enter only numbers)
							</mat-error>
						</mat-error>
					</mat-form-field>
					<mat-form-field class="col-md-12">
						<mat-select placeholder="Select Country" formControlName="country">
							<mat-option *ngFor="let item of countrylist"
								value="{{item.name}}">{{item.name}}</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-checkbox class="termcondition-label" formControlName="termconditoion">If I
						don't follow instructions I may lose all of my money. I agree not to
						trade more than $200 on my practice account if I do I will not MTA
						liable for the consequences. 30 day money back guarantee available only
						to live program students. Recorded program students are not qualified
						for a 30 day money back guarantee.</mat-checkbox>
					<mat-card-actions class="col-md-12 mr0">
						<button mat-raised-button [disabled]="!newUserFrom.valid"
							(click)="register()"
							[ngClass]="{'grad-css': newUserFrom.valid}">REGISTER</button>
					</mat-card-actions>
				</mat-card>
			</form>
		</mat-card-content>
		<form class="my-form form-data " [formGroup]="newUserFrom" *ngIf="success_msg">
			<mat-card class="row mr-tp">
				<div class="col-md-12">
					<div class="checks-box">
						<i class="material-icons">check_circle</i>
					</div>
					<div class="suces text-center">
						<h3 class="text-center">Success!</h3>
						<div *ngIf="selectedPlanName!='Free'">
							<p>Please <strong>check your e-mail</strong> for further
								instructions to setup your account.
								<br>
								Make sure to add
								<strong>noreply@mixedtradingarts.com</strong> to your
								address book to avoid
								this email going to your spam folder.
								<br>
								If you have any questions please visit our <a
									href="javascript:void(0)"
									[routerLink]="['/']"
									routerLinkActive="router-link-active">Contact
									Page</a>.
							</p>
							<div>
								<a type="button" [routerLink]="['/']"
									class="btn btn-home">Back To Home</a>
							</div>
						</div>
						<div *ngIf="selectedPlanName=='Free'">
							<p>Congratulations you have successfully registered. Please go
								ahead and log in.<br>
								If you have any questions please visit our 
								<a
									href="javascript:void(0)"
									[routerLink]="['/']"
									routerLinkActive="router-link-active">Contact
									Page</a>.
							</p>
							<div>
								<a type="button" [routerLink]="['/']"
									class="btn btn-home">Back To Home</a>
							</div>
						</div>
					</div>
				</div>
			</mat-card>
		</form>
	</div>
</div>