.my-form{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    }
     
    .mat-form-field {
      padding-bottom: 25px;
  }
  
  
  .form-data{
  font-size: 16px;
  }
  
  .mr0 {
    margin: 0 10px;
  }
  .mat-card > .mat-card-actions:last-child {
  
    margin-bottom: -8px;
    padding-bottom: 6px;
  
  }
  .checks-box {
    text-align: center;
    background: #2fcb2f;
    padding: 20px 20px 15px;
  }
  .checks-box i {
    font-size: 70px;
    color: #fff;
  }
  .suces {
    padding: 15px 0px 0px;
  }
  .suces h3{
  
    padding: 10px 0px 20px;
  }



  .mat-form-field {
    padding-bottom: 20px;
  }
  @media (max-width: 600px){
    .custom-card-width{
        width: 100%;
        margin: 0 auto;
    }
    .mat-form-field {
      padding-bottom: 0px;
    }
    .custom-col-12{
      margin-top: 0px !important;
    }
  }
  @media (max-width: 768px){
    
    .custom-col-12{
      margin-top: 0px !important;
    }
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    color: #f8b12c !important;
   }
  ::ng-deep.mat-form-field-ripple {
   background-color: #f8b12c !important;;
  }
  
  