<div class="p-40 custom-padding-card ">
    <mat-card-content>
        <form class="form-signin form-data" [formGroup]="forgetpasswordForm" *ngIf="forgetPass_form">
            <mat-card class="row custom-card-width box-shadow">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="assets/images/forget-pass.png" alt="" width="110px">


                    </div>
                    <div class="forget-text text-center">
                        <h3>Forget Password?</h3>
                        <h4>We just need your registered email address to send you password rest code.</h4>
                    </div>
                </div>
                <mat-form-field class="col-md-12">
                    <input matInput type="text" id="usr" formControlName="email" placeholder="Email address">
                    <mat-error *ngIf="fc.email.touched && fc.email.errors">
                        <mat-error *ngIf="fc.email.errors.required">Email is required!</mat-error>
                        <mat-error *ngIf="fc.email.errors.email">Email is not valid!</mat-error>
                    </mat-error>
                </mat-form-field>
                <div class="col-md-12">
                    <mat-card-actions class="mb-30">
                        <button mat-raised-button class="mb-30 text-uppercase fa-pull-left "
                            [ngClass]="{'grad-css': forgetpasswordForm.valid}" type="submit"
                            [disabled]="!forgetpasswordForm.valid" (click)="sendForgotEmail()">Send Code</button>
                        <button mat-raised-button class=" mb-30 text-uppercase float-right mt-65" [routerLink]="['/login']"
                            routerLinkActive="router-link-active">Cancel</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </form>
    </mat-card-content>

    <mat-card-content>
        <form class="form-signin form-data" [formGroup]="otpForm" *ngIf="otp_form">
            <mat-card class="row custom-card-width box-shadow">
                    <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/otp-sent.png" alt="" width="110px">
        
        
                            </div>
                            <div class="forget-text text-center">
                                <h3>Verification</h3>
                                <h4>Enter the verification code we just sent on your registered email address.</h4>
                            </div>
                        </div>
                <mat-form-field class="col-md-12">
                    <input matInput type="text" id="usr" formControlName="code" placeholder="Enter Code">
                    <mat-error *ngIf="fcOTP.code.touched && fcOTP.code.errors">
                        <mat-error *ngIf="fcOTP.code.errors.required">Email is required!</mat-error>
                    </mat-error>
                </mat-form-field>
                <div class="col-md-12">
                    <mat-card-actions class="mb-30">
                        <button mat-raised-button class="mb-30 text-uppercase fa-pull-left "
                            [ngClass]="{'grad-css': otpForm.valid}" type="submit"
                            [disabled]="!otpForm.valid" (click)="codeVerify()">Verify</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </form>
    </mat-card-content>


    <mat-card-content>
        <form class="form-signin form-data" novalidate="novalidate" accept-charset="utf-8" *ngIf="resetPass_form"
            [formGroup]="resetPasswordForm">
            <mat-card class="row custom-card-width box-shadow">
                    <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/reset-passwprd.png" alt="" width="110px">
        
        
                            </div>
                            <div class="forget-text text-center">
                                <h3>Secure Account</h3>
                                <h4>Setup your new password by which you can access easily.</h4>
                            </div>
                        </div>
                <mat-form-field class="col-md-12">
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        placeholder="Password" (change)="StorePassword($event)" autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fcResetPass.password.touched && fcResetPass.password.errors">
                        <mat-error *ngIf="fcResetPass.password.errors.required">Password is required</mat-error>
                        <mat-error *ngIf="fcResetPass.password.errors.pattern">Password is not valid (Must contain at least one
                            number, one uppercase and lowercase letter, one special
                            characters,
                            and
                            at least 8 or more characters)</mat-error>
                        
                    </mat-error>
                    <mat-hint *ngIf="fcResetPass.password.errors"> Must contain at least one number, one uppercase and lowercase
                        letter, one special
                        characters,
                        and
                        at least 8 or more characters</mat-hint>
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
                        placeholder="Confirm Password" [pattern]="iPassword" (invalid)="GetInvalidMessage($event)"
                        autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fcResetPass.confirmPassword.touched && fcResetPass.confirmPassword.errors">
                        <mat-error *ngIf="fcResetPass.confirmPassword.errors.required">Confirm Password is required
                        </mat-error>
                        <mat-error *ngIf="fcResetPass.confirmPassword.errors.pattern">Password doesn't match!
                        </mat-error>
                    </mat-error>
                </mat-form-field>


                <div class="col-md-12">
                    <mat-card-actions class="mb-30">
                        <button mat-raised-button [ngClass]="{'grad-css': resetPasswordForm.valid}"  type="submit"
                            (click)="updatePassword()" [disabled]="!resetPasswordForm.valid">Update</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </form>
    </mat-card-content>


</div>