main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
  color: greenyellow;
}
label {
  color: black;
}
.upload-drop-zone {
  width: 66%;
  height: 100px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  opacity: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;

}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.custom-input {
  content: attr(data-title);
 
  top: 40px;
  left: 15px;
  width:100%;
  min-height: 5em;
  line-height: 0em;
  padding-top: 2.3em;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: 0.25em dashed #ffc100;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.mb-8em{
margin-bottom: 8rem;
}
.add-video-header{
color: #282828;
background: linear-gradient(270deg, rgb(246, 175, 44) 0%, rgb(255, 206, 114) 100%);
width: 100%;
margin-top: 16px;
}
.add-video-header1{
color: #282828;
background: linear-gradient(270deg, rgb(246, 175, 44) 0%, rgb(255, 206, 114) 100%);
width: 100%;
margin-top: 16px;
font-size: 14px;
padding: 2px 6px;
}
.btn-danger.focus, .btn-danger:focus {
box-shadow: 0 0 0 0.2rem var(--yellow);
}
#richtexteditor_21515321_0_toolbar_wrapper {
height: 40px !important;
}
#richtexteditor_21515321_0_rte-edit-view {
min-height: 250px !important;
max-height: 250px !important;
}
::ng-deep .mat-focused .mat-form-field-label {
color: #f8b12c !important;
}
::ng-deep.mat-form-field-ripple {
background-color: #f8b12c !important;;
}
.e-richtexteditor {
color: 
#333;
display: block;
position: relative;
border: 1px solid #d1d1d1 !important;
}
#richtexteditor_21515321_0rte-view {
height: auto;
margin-top: 46px !important;
}
.mat-radio-button ~ .mat-radio-button {
margin-left: 16px;
}
.group-gap {
margin-bottom: 40px;
}
.avatar-upload {
position: relative;
max-width: 205px;
margin: 10px auto 30px;
}
.avatar-upload .avatar-edit {
position: absolute;
right: 19px;
z-index: 1;
top: 13px;
}
.avatar-upload .avatar-edit input {
display: none;
}
.avatar-upload .avatar-edit .custom-label {
display: inline-block;
width: 34px;
height: 34px;
margin-bottom: 0;
background: #3efc78;
border: 1px solid transparent;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
cursor: pointer;
font-weight: normal;
transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit .upload-image {
background: #3efc78;
}
.avatar-upload .avatar-edit .remove-image {
background: #E91E63;
}
.avatar-upload .avatar-edit .custom-label:hover {
opacity: 1;
}
.avatar-upload .avatar-edit .custom-label:after {
position: absolute;
text-align: center;
margin: auto;
top: 8px;
right: 0;
left: 2px;
width: 18px;
}
.avatar-upload .avatar-edit .upload-image:after {
content: url('/assets/edit.svg');
}
.avatar-upload .avatar-edit .remove-image:after {
content: url('/assets/close.svg');
left: 0px !important;
}
.avatar-upload .avatar-preview {
width: 200px;
height: 200px;
position: relative;
overflow: hidden;
border: 12px solid #fff;
-webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}
.avatar-upload .avatar-preview>div {
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
h5.user-info-heading.text-center i {
top: 4px;
position: relative;
}
.btn.btn-danger.addthum {
background:
transparent;
color:
#F5A627;
border: 1px solid
#F5A627;
font-weight: normal;
padding: 7px 10px;
  font-size: 12px;
}
label.input-group-btn .btn.text-uppercase.fa-pull-left.mt-65.grad-css.mat-raised-button {
padding: 1px 30px;
/* border-radius: 0px; */
border-bottom-right-radius: 0px;
/* border-bottom-left-radius: 0px; */
border-top-right-radius: 0px;
margin-right: -6px;
z-index: 1;
}

::ng-deep .mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px 0;
}
.w-100{
  width: 100% !important;
}