<div class="wrapper page-inner content-fixed">
  <div class="conatiner w-100">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <div>
            <mat-card-content>
              <form class="form-signin form-data" [formGroup]="ArticleForm">
                <mat-card class="row">
                  <h5 class="user-info-heading text-center"><i class="material-icons">
                      create
                    </i> Upload Article</h5>
                  <!-- <mat-form-field class="display-form">
                      <textarea matInput placeholder="Article" formControlName="article"></textarea>
                    </mat-form-field> -->
                  <!-- <ejs-richtexteditor [(value)]='value' id='defaultRTE' required name="article" [(ngModel)]="value"
                      formControlName="article" [toolbarSettings]='tools' [insertImageSettings]='insertImageSettings'
                      (toolbarClick)='onToolbarClick($event)' height='500'> </ejs-richtexteditor> -->
                  <!-- <ejs-richtexteditor [(value)]='value' id='defaultRTE' required name="article" [(ngModel)]="value"
                      formControlName="article" [toolbarSettings]='tools' [insertImageSettings]='insertImageSettings'
                      (toolbarClick)='onToolbarClick($event)' (imageUploadSuccess)='onImageUploadSuccess($event)'
                      (imageSelected)='imageSelected($event)' height='500' (imageRemoving)='imageRemoving($event)' enableResize= "true">
                    </ejs-richtexteditor> -->
                  <ejs-richtexteditor formControlName="article" [insertImageSettings]='insertImageSettings'
                    [showCharCount]='true' autofocous="true" [toolbarSettings]='tools'>
                    <!-- <ng-template #valueTemplate>
                        <p>The rich text editor component is WYSIWYG ("what you see is what you get") editor that provides
                          the best user experience to create and update the content.
                          Users can format their content using standard toolbar commands.</p>
                          <p>The rich text editor component is WYSIWYG ("what you see is what you get") editor that provides
                            the best user experience to create and update the content.
                            Users can format their content using standard toolbar commands.</p>
                             <p>The rich text editor component is WYSIWYG ("what you see is what you get") editor that provides
                          the best user experience to create and update the content.
                          Users can format their content using standard toolbar commands.</p>
                      </ng-template> -->
                  </ejs-richtexteditor>
                  <mat-error *ngIf="articlefc.article.touched && articlefc.article.errors">
                    <mat-error *ngIf="articlefc.article.errors.required">Please Insert Article</mat-error>
                  </mat-error>


                  <div>
                      <br>
                     
                      <button *ngIf="editArticleFile" type="submit" class="btn btn-danger addthum"
                        (click)="fileInput2.click(); removeUploadedFileArticleImg()">Add Thumbnail</button>
                      <div class="group-gap">
                        <!-- Upload image -->
                        <div class="avatar-upload">
                          <div class="avatar-edit">
                            <input formControlName="thumbnail" type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                              #fileInput2 (change)="uploadFileArticleImg($event)" />
                          </div>
                          <div class="avatar-preview">
                            <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrlArt +')'">
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>

                    <div >
                        <br>
                        <span>Article Title: </span> <br><br>
                        <mat-form-field>
                          <input matInput type="text" formControlName="title" placeholder="Article Title">
                          <mat-error *ngIf="articlefc.title.touched && articlefc.title.errors">
                            <mat-error *ngIf="articlefc.title.errors.required">Field is required!</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>

                  <div class="">
                    <mat-card-actions>
                      <!-- <button mat-raised-button class=" text-uppercase fa-pull-left mt-65 "
                          [ngClass]="{'grad-css': ArticleForm.valid}" type="submit" [disabled]="!ArticleForm.valid"
                          (click)="addArticle(); ArticleForm.reset();">Submit</button> -->
                      <button mat-raised-button class=" text-uppercase fa-pull-left mt-65 grad-css" type="submit" [ngClass]="{'grad-css': ArticleForm.valid}" [disabled]="!ArticleForm.valid"
                        (click)="addArticle(); ArticleForm.reset(); ArticleForm.untouched">Submit</button>
                      <button type="reset" mat-raised-button class="btn-grp-admin text-uppercase  mt-65"
                        style="margin-left: 20px" (click)="resetArticle();">Reset</button>
                    </mat-card-actions>
                  </div>
                </mat-card>
              </form>
            </mat-card-content>




            <mat-card-content>
              <form class="form-signin form-data" #imgUpForm="ngForm" [formGroup]="ImageForm">
                <mat-card class="row">
                  <h5 class="user-info-heading text-center"><i class="material-icons">
                      image
                    </i> Upload Image</h5>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="w-100">
                          <input matInput type="text" formControlName="title" placeholder="Title">
                          <mat-error *ngIf="imagefc.title.touched && imagefc.title.errors">
                            <mat-error *ngIf="imagefc.title.errors.required">Field is required!</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field floatPlaceholder="never" class="display-form">
                        <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept=".png, .jpg, .jpeg"
                          #fileSelect formControlName="file">
                        <input readonly matInput [(ngModel)]="filename" placeholder="Select file..."
                          formControlName="filename" />
                        <button *ngIf="this.base64File" (click)="this.base64File = null; this.filename = null" matSuffix
                          matTooltip="Remove selected file" [matTooltipPosition]="'above'" type="button" color="warn"
                          mat-icon-button>
                          <mat-icon>close</mat-icon>
                        </button>
                        <button matSuffix mat-icon-button (click)="fileSelect.click();" matTooltip="Select a file"
                          [matTooltipPosition]="'above'">
                          <mat-icon>file_upload</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <div class="text-center" *ngIf="this.base64File !== null">
                        <img src="{{this.base64File}}" class="profileavatar" height="200" width="200">
                      </div>
                      <div class="text-center" *ngIf="this.base64File === null">
                        <img src="assets/images/icons/noimage.png" class="profileavatar" height="200"
                          width="200">
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <mat-card-actions>
                      <button mat-raised-button class=" text-uppercase  mt-65" [ngClass]="{'grad-css': ImageForm.valid}"
                        type="submit" [disabled]="!ImageForm.valid"
                        (click)="uploadsImage(imgUpForm); ImageForm.untouched">Submit</button>
                    </mat-card-actions>
                  </div>
                </mat-card>
              </form>
            </mat-card-content>
            <mat-card-content>
              <form class="form-signin form-data" #viUpForm="ngForm" [formGroup]="VideoForm">
                <mat-card class="row">
                  <h5 class="user-info-heading text-center"><i class="material-icons">
                      videocam
                    </i> Upload Video</h5>                 
                  <div>                   
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                     
                      <span>Youtube Link: </span> <br><br>
                      <mat-form-field class="w-100">
                        <input matInput type="text" formControlName="videofilename" placeholder="https://www.youtube.com/embed/tgbNymZ7vqY">
                        <mat-error *ngIf="videofc.videofilename.touched && videofc.videofilename.errors">
                          <mat-error *ngIf="videofc.videofilename.errors.required">Field is required!</mat-error>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <br>
                      <span>Video Title: </span> <br><br>
                      <mat-form-field>
                        <input matInput type="text" formControlName="title" placeholder="Video Title">
                        <mat-error *ngIf="videofc.title.touched && videofc.title.errors">
                          <mat-error *ngIf="videofc.title.errors.required">Field is required!</mat-error>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <br>
                      <span>Please Choose Video Privacy: </span> <br><br>
                      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedRadio"
                        (change)="radioChange($event)" formControlName="radiobtn">
                        <mat-radio-button value="public">Public</mat-radio-button>
                        <mat-radio-button value="private">Private</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-6">
                      <mat-card-actions>
                        <button mat-raised-button class=" text-uppercase fa-pull-left mt-65"
                          [ngClass]="{'grad-css': VideoForm.valid}" type="submit" [disabled]="!VideoForm.valid"
                          (click)="uploadContent(viUpForm); VideoForm.untouched">Submit</button>
                      </mat-card-actions>
                    </div>
                  </div>
                </mat-card>
              </form>
            </mat-card-content>
            <mat-card-content>
              <form class="form-signin form-data" #audUpForm="ngForm" [formGroup]="AudioForm">
                <mat-card class="row">
                  <h5 class="user-info-heading text-center"><i class="material-icons">
                      audiotrack
                    </i> Upload Audio</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-12 p-b-30 p-t40">
                        <div *ngIf="audiouploadPercent > 0 && 99.9 > audiouploadPercent">
                          Hold on, Uploading.. . . {{audiouploadPercent}}%
                        </div>
                        <div *ngIf="audiouploadPercent && 100 == audiouploadPercent">
                          Completed {{audiouploadPercent}}%
                        </div>
                        <div *ngIf="audiouploadPercent">
                          <progress class="add-video-header" [value]="audioProgress.loaded" [max]="audioProgress.total">
                          </progress>
                        </div>
                        <div *ngIf="audiouploadPercent" class="text-center">
                          <p></p>
                          <p>File Name: {{AudioFiledata?.name}}</p>
                          <p>File Size: {{((AudioFiledata?.size)/1048576).toFixed(2)}}MB</p>
                          <audio #audio *ngIf="audioUrl" width="320" height="240" controls [attr.src]="audioUrl"
                            #selectaudiofile>
                          </audio>
                        </div>
                      </div>
                      <div *ngIf="!audiouploadPercent">

                        <div class="input-group">
                          <label class="input-group-btn">
                            <span class="btn text-uppercase fa-pull-left mt-65 grad-css mat-raised-button">
                              Add Audio&hellip; <input type="file" style="display: none;" multiple type="file"
                                accept=".mp3,.m4a,.wav,.ogg" #selectaudiofile id="audioElement"
                                formControlName="audiofilename" (change)="readAudioUrl($event);">
                            </span>
                          </label>
                          <input type="text" class="form-control" readonly placeholder="Upload Audio File">
                        </div>

                        <!-- <div class="form-group inputDnD">
                            <label class="custom-input">
                              <p style="color: #b5b5b5;">Drag and Drop files here</p>
                              <input type="file" accept=".mp3,.m4a,.wav,.ogg" #selectaudiofile id="audioElement"
                                formControlName="audiofilename" (change)="readAudioUrl($event);"
                                data-title="Drag and drop an Audio" class="upload-drop-zone">
                            </label></div> -->
                        <!-- <audio #audio style="display: none;" *ngIf="videoUrl" width="320" height="240" controls
                            [attr.src]="videoUrl" (loadedmetadata)="getDuration($event)"> </audio> -->
                        <audio #audio style="display: none;" *ngIf="audioUrl" controls [attr.src]="audioUrl"
                          (canplaythrough)="setDuration($event)" id="audio"></audio>
                      </div>
                    </div>
                  </div>

                  <div>
                    <br>
                    <!-- <span>Add Thumbnail </span> <br><br> -->
                    <!-- Submit Button -->
                    <button *ngIf="editAudioFile" type="submit" class="btn btn-danger addthum"
                      (click)="fileInput1.click(); removeUploadedFileAudioImg()">Add Thumbnail</button>
                    <div class="group-gap">
                      <!-- Upload image -->
                      <div class="avatar-upload">
                        <div class="avatar-edit">
                          <input formControlName="thumbnail" type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                            #fileInput1 (change)="uploadFileAudioImg($event)" />
                        </div>
                        <div class="avatar-preview">
                          <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrlAud +')'">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <span>Audio Title: </span> <br><br>
                      <mat-form-field>
                        <input matInput type="text" formControlName="title" placeholder="Audio Title">
                        <mat-error *ngIf="audiofc.title.touched && audiofc.title.errors">
                          <mat-error *ngIf="audiofc.title.errors.required">Field is required!</mat-error>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <span>Please Choose Audio Privacy: </span> <br><br>
                      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedRadioAudio"
                        (change)="audradioChange($event)" formControlName="radiobtn">
                        <mat-radio-button value="public">Public</mat-radio-button>
                        <mat-radio-button value="private">Private</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-6">
                      <mat-card-actions>
                        <button mat-raised-button class=" text-uppercase fa-pull-left mt-65"
                          [ngClass]="{'grad-css': AudioForm.valid}" type="submit" [disabled]="!AudioForm.valid"
                          (click)="uploadAudioContent(audUpForm); AudioForm.untouched">Submit</button>
                      </mat-card-actions>
                    </div>
                  </div>


                </mat-card>
              </form>
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>