<div class="p-40 custom-padding-card ">

    <mat-card-content>
        <form class="form-signin form-data" novalidate="novalidate" accept-charset="utf-8"
            [formGroup]="resetPasswordForm">
            <mat-card class="row custom-card-width box-shadow">

                    <div class="padding-btm">
                <mat-form-field class="col-md-12">
                       
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword"
                        placeholder="Old Password" autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fcResetPass.oldPassword.touched && fcResetPass.oldPassword.errors">
                        <mat-error *ngIf="fcResetPass.oldPassword.errors.required">Old Password is required
                        </mat-error>
                    </mat-error>
                  
                </mat-form-field>
            </div>
            <div class="padding-btm">
                <mat-form-field class="col-md-12">
                   <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password"
                        placeholder="New Password" (change)="StorePassword($event)" autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fcResetPass.password.touched && fcResetPass.password.errors">
                        <mat-error *ngIf="fcResetPass.password.errors.required">New Password is required</mat-error>
                        <mat-error *ngIf="fcResetPass.password.errors.pattern">Password is not valid (Must contain at
                            least one number, one uppercase and lowercase letter, one special characters, and at least 8
                            or more characters)
                        </mat-error>
                    </mat-error>
                    <mat-hint *ngIf="fcResetPass.password.errors"> Must contain at least one number, one uppercase and
                        lowercase letter, one special characters, and at least 8 or more characters</mat-hint>
                    
                </mat-form-field></div>

                <div class="padding-btm">
                <mat-form-field class="col-md-12">
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword"
                        placeholder="Confirm Password" [pattern]="iPassword" (invalid)="GetInvalidMessage($event)"
                        autocomplete="false">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fcResetPass.confirmPassword.touched && fcResetPass.confirmPassword.errors">
                        <mat-error *ngIf="fcResetPass.confirmPassword.errors.required">Confirm Password is required
                        </mat-error>
                        <mat-error *ngIf="fcResetPass.confirmPassword.errors.pattern">Password doesn't match!
                        </mat-error>
                    </mat-error>
                   
                </mat-form-field> </div>


                <div class="col-md-12">
                    <mat-card-actions class="mb-30">
                        <button mat-raised-button [ngClass]="{'grad-css': resetPasswordForm.valid}" type="submit"
                            (click)="changePassword()" [disabled]="!resetPasswordForm.valid">Change Password</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </form>
    </mat-card-content>

</div>