
<section class="contact-section contact-section-s2 section-padding home-page-section">
    <div class="container container1">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s5">
                    <h2>Feedback</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-8 col-lg-offset-2">
                <div class="content-area">
                    <!-- <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
                        dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam</p> -->
                    <div class="contact-form">
                        <form class="contact-validation-active feedbackForm" [formGroup]="feedbackForm" (ngSubmit)="onFeedbackFormSubmit()">
                            <div>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name*" formControlName="name"  [ngClass]="{'is-invalid':feedbackForm.get('name').touched && feedbackForm.get('name').invalid}">
                               <label class="text-left invalid-feedback"
                                    *ngIf="feedbackForm.get('name').errors?.required">
                                    Please enter name
                                </label>                                    
                            </div>
                            <div>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email*" formControlName="email"
                                [ngClass]="{'is-invalid':feedbackForm.get('email').touched && feedbackForm.get('email').invalid}" />
                                <div class="invalid-feedback text-left">
                                    <label class="text-left"
                                        *ngIf="feedbackForm.get('email').errors?.required">
                                        Please enter email id
                                    </label>
                                    <label class="text-left" *ngIf="feedbackForm.get('email').errors?.email">
                                        Please enter valid email id
                                    </label>
                                </div>
                            </div>
                            <div class="fullwidth">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*" formControlName="phone"
                                [ngClass]="{'is-invalid':feedbackForm.get('email').touched && feedbackForm.get('phone').invalid}" /> 
                                <label class="text-left invalid-feedback"
                                    *ngIf="feedbackForm.get('phone').errors?.required">
                                    Please enter phone number
                                </label>     
                            </div>
                            <!-- <div>
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject*" formControlName="subject"
                                [ngClass]="{'is-invalid':feedbackForm.get('subject').touched && feedbackForm.get('subject').invalid}" /> 
                                <label class="text-left invalid-feedback"
                                    *ngIf="feedbackForm.get('subject').errors?.required">
                                    Please enter subject
                                </label>     
                            </div>                             -->
                            <div class="fullwidth">
                                <textarea class="form-control" name="description" id="description"
                                    placeholder="Description..." formControlName="description"
                                    [ngClass]="{'is-invalid':feedbackForm.get('description').touched && feedbackForm.get('description').invalid}"></textarea>
                                    <label class="text-left invalid-feedback"
                                *ngIf="feedbackForm.get('subject').errors?.required">
                                Please enter description
                            </label>    
                            </div>
                            <div class="submit-area">
                                <button type="submit" class="theme-btn submit-btn">Submit Now</button>
                                <div id="loader">
                                    <i class="ti-reload"></i>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>