<div class="wrapper page-inner content-fixed">
	<div class="conatiner w-100">
		<h3>
			<span class="mr-2 mat-icons-posstion cp" [routerLink]="['/content']">
				<mat-icon matTooltip="Back">reply</mat-icon>
			</span>
		</h3>
		<mat-tab-group>
			<mat-tab label="All Comments">
				<div class="commnts" *ngFor="let comment of comments; let i = index;">
					<div class="v-logo ">
						<div class="pull-left img-icons">
							<div *ngIf="comment?.comment?.user?.avatar && comment?.comment?.user?.avatar != 'undefined'; else tempImg">
								<img src="{{comment?.comment?.user?.avatar}}" class="user-avatar" />
							</div>
							<ng-template #tempImg>
								<div class="pull-left">
									<i class="material-icons account-circle">
										account_circle
									</i>
								</div>
							</ng-template>
						</div>
						<div class="pull-left text-icons">
							<h4>
								<strong>{{comment?.comment?.user?.fname}} {{comment?.comment?.user?.lname}}</strong>&nbsp;
								<span class="created-time">{{comment?.comment?.createdAt | date:'short'}}</span>
							</h4>
							<mat-icon (click)="deleteComment(comment.comment._id)"	class="mat-color-red space-del">
								delete
							</mat-icon>
						</div>
						<div class="text-icons">
							<a href="javascript:void(0)" (click)="togglereport(i)" class="mat-color-red space-del replay-text">
								Replay
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="comment-align">
							<p class="lead1">{{comment?.comment?.comment}} </p>
							<div class="child-msg" *ngFor="let admin of comment?.adminreplays; let i = index;">
								<div class="pull-left img-icons">
									<div
										*ngIf="admin?.avatar && admin?.avatar != 'undefined'; else tempImg1">
										<img src="{{admin?.avatar}}" class="user-avatar">
									</div>
									<ng-template #tempImg1>
										<div class="pull-left">
											<i class="material-icons account-circle">
												account_circle
											</i>
										</div>
									</ng-template>
								</div>
								<div class="pull-left text-icons">
									<h4><strong>{{admin?.user?.fname}} {{admin?.user?.lname}}</strong>
										<span class="created-time">
											{{admin?.createdAt    | date:'short'}}</span>
									</h4>
								</div>
								<div class="clearfix"></div>
								<div class="comment-align">
									<p class="lead1">{{admin?.replay}} </p>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px" class="row collapse"
							[ngStyle]="{display: (index === i && showReport) ? 'block':'none' }"
							id="collapseExample">
							<div class="col-md-12">
								<mat-form-field class="example-full-width">
									<textarea #report matInput placeholder="Add some description..."></textarea>
								</mat-form-field>
								<button mat-raised-button
									style="margin: 0px 0px 10px 12px"
									class="btn btn-secondary pull-right"
									type="button"
									(click)="showReport = false; report.value='' ">
									Cancel</button>
								<button mat-raised-button
									style="margin: 0px 0px 10px 12px"
									class="btn btn-secondary pull-right"
									(click)="forReport(report.value, comment.comment._id)"
									type="button">
									Submit</button>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Reported Comments">
				<div class="commnts" *ngFor="let report of reports">
					<div class="v-logo ">
						<div class="pull-left img-icons">
							<div *ngIf="report?.user?.avatar && report?.user?.avatar != 'undefined'; else tempImg">
								<img src="{{report?.user?.avatar}}" class="user-avatar" />
							</div>
							<ng-template #tempImg>
								<div class="pull-left">
									<i class="material-icons account-circle">
										account_circle
									</i>
								</div>
							</ng-template>
						</div>
						<div class="pull-left text-icons">
							<h4>
								<strong>{{report?.user?.fname}} {{report?.user?.lname}}</strong>
								<span class="created-time">{{report.createdAt | date:'short'}}</span>
							</h4>
							<mat-icon (click)="deleteReportedComment(report._id,report?.report?._id)"
								class="mat-color-red space-del">delete </mat-icon>
						</div>
						<div class="clearfix"></div>
						<div class="comment-align">
							<p class="lead1">{{report?.comment}} </p>
						</div>
						<div class="child-msg">
							<div class="pull-left img-icons">
								<div *ngIf="report?.reporters?.avatar && report?.reporters?.avatar != 'undefined'; else tempImg1">
									<img src="{{report?.user?.avatar}}" class="user-avatar">
								</div>
								<ng-template #tempImg1>
									<div class="pull-left">
										<i class="material-icons account-circle" >
											account_circle
										</i>
									</div>
								</ng-template>
							</div>
							<div class="pull-left text-icons">
								<h4><strong>{{report?.reporters?.fname}}
										{{report?.reporters?.lname}}
									</strong><span class="created-time">
										{{report?.report?.createdAt | date:'short'}}</span>
								</h4>
							</div>
							<div class="clearfix"></div>
							<div class="comment-align">
								<p class="lead1">{{report?.report?.description}} </p>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
