<div class="wrapper page-inner content-fixed">
  <div class="conatiner w-100">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <div class="row">
            <h2 class="user-info-heading">Time Setting</h2>
          </div>
          <div>
            <mat-card-content>
              <form class="form-signin form-data" [formGroup]="timerForm">
                <mat-card>
                  <div class="row">
                    <div class="col-md-6 clock-date ">
                      <mat-form-field class="clock-setting-date">
                        <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Choose a date"
                          formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        <mat-error *ngIf="fc.date.touched && fc.date.errors">
                          <mat-error *ngIf="fc.date.hasError('required')">Date is required!</mat-error>
                          <mat-error *ngIf="fc.date.hasError('matDatepickerMin')">Date is invalid!</mat-error>

                        </mat-error>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6 clock-date">
                      <mat-form-field>
                        <input matInput [ngxTimepicker]="toggleTimepicker" [disableClick]="true" formControlName="time"
                          readonly>
                        <ngx-material-timepicker-toggle matSuffix [for]="toggleTimepicker">
                        </ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                      </mat-form-field>

                    </div>
                  </div>
                  <!-- <h5 class="user-info-heading text-center">MTA Program Time</h5> -->


                  <div class="col-md-6">
                    <mat-card-actions>
                      <button mat-raised-button class=" text-uppercase fa-pull-left mt-65"
                        [ngClass]="{'grad-css': timerForm.valid}" type="submit" [disabled]="!timerForm.valid"
                        (click)="setTimer();timerForm.untouched">Add</button>
                    </mat-card-actions>
                  </div>


                  <div *ngIf="timeObj!== null ">
                    <strong>Date : {{timeObj?.date | date:'mediumDate'}} </strong> <br>
                    <strong>Time : {{timeObj?.time}} </strong>
                  </div>

                </mat-card>
              </form>
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>