.join-button{
	background-color: #f8b12c;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 4px 30px;
}
.join-title{
	color: gray;
	font-size: 55px;
}
.custom-card-width{
	border-radius: 25px !important; 
    -webkit-box-shadow: 0px 2px 10px 10px #A9A9A9 !important;
    -moz-box-shadow: 0px 2px 10px 10px #A9A9A9 !important;
    box-shadow: 0px 2px 10px 10px #A9A9A9 !important;

}
.join-description{
    letter-spacing: 1px;
}