<div class="p-40 custom-padding-card login-bg ">
    <mat-card-content>
        <form class="form-signin form-data" [formGroup]="form">
                    	<h1 class="join-title text-center">Join our Webinar!</h1>
            <mat-card class="row custom-card-width box-shadow">
                    <div class="login-title text-center mt-3">
                    	<p class="join-description">Webinar is this Saturday, April 4th, 1PM PDT. You will be emailed the link 15 minutes before the start of the class. See you there!</p>
                    </div>
	                <mat-form-field class="col-md-12 custom-col-12 mt-3">
	                    <input matInput formControlName="email" name="email"  placeholder="Your email" />
	                    <mat-error *ngIf="(fc.email.touched || submited) && fc.email.errors">
	                        <mat-error *ngIf="fc.email.errors.required">Email is required!</mat-error>
	                        <mat-error *ngIf="fc.email.errors.email">Email is not valid!</mat-error>
	                    </mat-error>
	                </mat-form-field>

					<mat-form-field class="col-md-12 custom-col-12">
						<input matInput formControlName="name" name="name"  placeholder="Your name" />
						<mat-error *ngIf="(fc.name.touched || submited) && fc.name.errors">
							<mat-error *ngIf="fc.name.errors.required">Name is required!</mat-error>
						</mat-error>
					</mat-form-field>
					<div class="col-md-12 text-center">
					<mat-card-actions>
						<button class="join-button"  [disabled]="!form.valid" (click)="submit()">
							Join now
						</button>
					</mat-card-actions>
					</div>
              
            </mat-card>
        </form>
    </mat-card-content>

</div>