::ng-deep .mat-focused .mat-form-field-label {
    color: #f8b12c !important;
   }
  ::ng-deep.mat-form-field-ripple {
   background-color: #f8b12c !important;;
  }
  .card {
    box-shadow: 1px 1px 3px #00000096;
}
audio.br-5 {
    width: 100%;
    border-radius: 0px;
    margin: 10px 0px;
}

audio:hover, audio:focus, audio:active
{

-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;

-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
.category-submit-button{
    margin: 0px !important;
    
}