<div class="wrapper page-inner content-fixed">
  <div class="conatiner w-100">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <div>
            <mat-card-content>
              <form class="form-data" novalidate="novalidate" #Contentform='ngForm'>
                <mat-card>
                  <h5>Images</h5>
                  <div *ngFor="let item of imgArr; let i= index;" class="upload-display">
                    <div *ngIf="item.contenttype ==='Image'">
                      <div *ngIf="this.base64File === null || this.indexnum != i">
                        <img src="{{appurl+item.content_url}}" class="br-5" alt="" width="200" height="200" />
                      </div>
                      <div *ngIf="this.base64File !== null && this.indexnum == i">
                        <div>
                          <img src="{{this.base64File}}" class="br-5" height="200" width="200">
                        </div>
                        <div>
                          <button mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="submit"
                            (click)="updateCont(item._id,item.contenttype)">Update</button>
                          <button *ngIf="this.base64File"
                            (click)="this.base64File = null; this.filename = null ; this.fileupload = [];"
                            mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="button" color="warn">
                            Cancel
                          </button>
                        </div>
                      </div>
                      <mat-form-field class="d-flex">
                        <mat-label>Select Category</mat-label>
                        <mat-select  name="category" multiple #imageCategory [(value)]="item.category">
                          <mat-option *ngFor="let category of categoryList" [value]="category._id">
                            {{category.category_name}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                      <mat-form-field class="d-flex">
                        <input matInput type="text" #title placeholder="Title" value="{{item?.image_title}}">
                       </mat-form-field>
                       <mat-form-field class="d-flex">
                        <mat-label>Select Plan Type</mat-label>
                        <mat-select  name="plan" multiple #plan [(value)]="item.plan">
                          <mat-option *ngFor="let plan of planList" [value]="plan._id">
                            {{plan.fullplan}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>

                      <button mat-raised-button class="btn-grp-admin category-submit-button text-uppercase  mt-65" type="button"
                        (click)="changeCategory(imageCategory.value,plan.value,item._id,title.value)" >Submit</button>
                      <div *ngIf="this.base64File === null || this.indexnum != i">
                        <mat-icon (click)="deleteCont(item._id,item.contenttype)"
                          class="btn-grp-admin mat-color-red mat-background cp">delete </mat-icon>
                        <mat-icon (click)="fileUpload.click()" class="btn-grp-admin mat-color-grey mat-background cp">
                          edit </mat-icon>
                          <mat-icon matTooltip="View details" class="cp ml-3"
                          [routerLink]="['/contentDetails', item._id]">remove_red_eye</mat-icon>
                      </div>
                      <input [hidden]="true" (change)="onFileSelect($event, i)" type="file" accept=".png, .jpg, .jpeg"
                        #fileUpload>
                        
                          
                    </div>
                  </div>
                  <div *ngIf="imgArr?.length === 0 " class="mt-35">
                    <span class="sp-color">No images..</span>
                  </div>
                </mat-card>
                <mat-card class="mt-10">
                  <h5>Videos</h5>
                  <div *ngFor="let item of videoArr; let i= index;" class="upload-display">
                    <div *ngIf="item.contenttype ==='Video'">
                      <!-- <div *ngIf="this.base64videoFile === null || this.indexnum != i">
                        <video class="br-5" width="320" height="240" controls poster="{{appurl+item.video_thumbnail}}">
                          <source src="{{appurl+item.content_url}}" type="video/mp4">
                          <source src="{{appurl+item.content_url}}" type="video/mkv">
                          <source src="{{appurl+item.content_url}}" type="video/webm">
                          <source src="{{appurl+item.content_url}}" type="video/wmv">
                        </video>
                      </div> -->
                     
                      <iframe width="320" height="240"  [src]="item.content_url | safe" ></iframe>
                      <div>
                          <span>{{item.video_title}}</span>
                        </div>
                        <div *ngIf="(i+1)==selectedVideo">
                          <br>
                        <mat-form-field class="w-100">
                          <input matInput type="text" value="{{item.video_title}}" #videoTitle  placeholder="Video Title">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="text" value="{{item.content_url}}" #videoURL  placeholder="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </mat-form-field>
                        <div>
                        <button mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="submit"
                        (click)="updateVideo(item._id,videoTitle.value,videoURL.value)">Update</button>
                        <button mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="button"
                        (click)="videoUpdateCancel()"  color="warn">Cancel</button>
                          </div>
                        
                      </div><br>

                      <div *ngIf="this.base64videoFile !== null && this.indexnum == i">              
                        
                        
                      </div>
                      <mat-form-field class="d-flex">
                        <mat-label>Select Category</mat-label>
                        <mat-select  name="category" multiple #imageCategory [(value)]="item.category">
                          <mat-option *ngFor="let category of categoryList" [value]="category._id">
                            {{category.category_name}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                      <mat-form-field class="d-flex">
                        <mat-label>Select Plan Type</mat-label>
                        <mat-select  name="plan" multiple #plan [(value)]="item.plan">
                          <mat-option *ngFor="let plan of planList" [value]="plan._id">
                            {{plan.fullplan}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                      <button mat-raised-button class="btn-grp-admin category-submit-button text-uppercase  mt-65" type="button"
                        (click)="changeCategory(imageCategory.value,plan.value,item._id)" >Submit</button>
                      <div *ngIf="this.base64videoFile === null || this.indexnum != i">
                        <mat-icon (click)="deleteCont(item._id,item.contenttype)"
                          class="btn-grp-admin mat-color-red mat-background cp">delete </mat-icon>
                        <mat-icon (click)="editVideo((i+1))"
                          class="btn-grp-admin mat-color-grey mat-background cp">edit </mat-icon>
                          <mat-icon matTooltip="View details" class="cp ml-3"
                          [routerLink]="['/contentDetails', item._id]">remove_red_eye</mat-icon>
                      </div>
                      
                    </div>
                  </div>
                  <div *ngIf="videoArr?.length === 0 " class="mt-35">
                    <span class="sp-color">No videos..</span>
                  </div>
                </mat-card>


                <mat-card class="mt-10">
                  <h5>Audios</h5>
                  <div *ngFor="let item of audioArr; let i= index;" class="upload-display">
                    <div *ngIf="item.contenttype ==='Audio'">
                      <div class="card">
                        <div>
                          <img src="{{appurl+item.audio_thumbnail}}" width="320" height="240" class="img-blur" />
                        </div>
                        <div *ngIf="this.base64audioFile === null || this.indexnum != i">
                        <audio class="br-5" height="240" controls >
                          <source src="{{appurl+item.content_url}}" type='audio/mpeg'>
                          <source src="{{appurl+item.content_url}}" type='audio/m4a'>
                          <source src="{{appurl+item.content_url}}" type='audio/wav'>
                          <source src="{{appurl+item.content_url}}" type="audio/ogg">
                        </audio>
                      </div>
                        <div>
                          <span>{{item.audio_title}}</span>
                        </div>
                      </div>

                      <mat-form-field class="d-flex">
                        <mat-label>Select Category</mat-label>
                        
                        <mat-select  name="category" multiple #imageCategory [(value)]="item.category">
                          <mat-option *ngFor="let category of categoryList"  [value]="category._id">
                            {{category.category_name}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                      <mat-form-field class="d-flex">
                        <mat-label>Select Plan Type</mat-label>
                        <mat-select  name="plan" multiple #plan [(value)]="item.plan">
                          <mat-option *ngFor="let plan of planList" [value]="plan._id">
                            {{plan.fullplan}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                      <button mat-raised-button class="btn-grp-admin category-submit-button text-uppercase  mt-65" type="button"
                        (click)="changeCategory(imageCategory.value,plan.value,item._id)" >Submit</button>
                      <div *ngIf="this.base64audioFile !== null && this.indexnum == i">
                        <audio class="br-5" height="240" *ngIf="audioUrl" controls [src]="audioUrl" >
                          <!-- <source src="{{this.base64audioFile}}" type='audio/mpeg'>
                          <source src="{{this.base64audioFile}}" type='audio/m4a'>
                          <source src="{{this.base64audioFile}}" type='audio/wav'>
                          <source src="{{this.base64audioFile}}" type="audio/ogg"> -->
                        </audio>
                        <div>
                          <button mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="submit"
                            (click)="updateAudioContent(item._id,item.contenttype)">Update</button>
                          <button *ngIf="this.base64audioFile"
                            (click)="this.base64audioFile = null; this.audiofilename = null; this.fileupload = [];this.audioUrl = null;"
                            mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="button" color="warn">
                            Cancel
                          </button>
                        </div>
                      </div>
                      <div *ngIf="this.base64audioFile === null || this.indexnum != i">
                        <mat-icon (click)="deleteCont(item._id,item.contenttype)"
                          class="btn-grp-admin mat-color-red mat-background cp">delete </mat-icon>
                        <mat-icon (click)="audiofileUpload.click()"
                          class="btn-grp-admin mat-color-grey mat-background cp">edit </mat-icon>
                          <mat-icon matTooltip="View details" class="cp ml-3"
                          [routerLink]="['/contentDetails', item._id]">remove_red_eye</mat-icon>
                      </div>
                      <input (change)="onAudioFileSelect($event, i)" type="file" [hidden]="true" 
                      accept=".mp3,.m4a,.wav,.ogg" #audiofileUpload>
                    </div>
                  </div>
                  <div *ngIf="audioArr?.length === 0 " class="mt-35">
                    <span class="sp-color">No audios..</span>
                  </div>
                </mat-card>

                <mat-card class="mt-10">
                  <h5>Articles</h5>
                  <div *ngFor="let item of articleArr; let i= index; let lastItem = last;">
                    <div *ngIf="item.contenttype ==='Article'" class="mt-35">
                      <h6 *ngIf="!textflag || this.indexnum != i" [innerHTML]="safeHtml(item.article)"></h6>
                      <div *ngIf="textflag && this.indexnum == i">
                        <!-- <mat-form-field class="wd-100">
                            <textarea matInput  rows="6" value="{{item.article}}" #artInput ></textarea>
                          </mat-form-field> -->

                        <ejs-richtexteditor [toolbarSettings]='tools' id='defaultRTE' [(value)]='item.article'
                          [insertImageSettings]='insertImageSettings' #artInput>

                        </ejs-richtexteditor>
                        <div>
                          <button mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="submit"
                            (click)="addArt(artInput.value); updateArt(item._id,item.contenttype) ">Update</button>
                          <button mat-raised-button class="btn-grp-admin text-uppercase  mt-65" type="submit"
                            (click)="clear(i) " color="warn">Cancel</button>
                        </div>
                      </div>
                      <mat-form-field class="d-flex">
                        <mat-label>Select Category</mat-label>
                        <mat-select  name="category" multiple #imageCategory [(value)]="item.category">
                          <mat-option *ngFor="let category of categoryList" [value]="category._id">
                            {{category.category_name}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                      <mat-form-field class="d-flex">
                        <mat-label>Select Plan Type</mat-label>
                        <mat-select  name="plan" multiple #plan [(value)]="item.plan">
                          <mat-option *ngFor="let plan of planList" [value]="plan._id">
                            {{plan.fullplan}}
                          </mat-option>
                        </mat-select>                        
                      </mat-form-field>
                      <button mat-raised-button class="btn-grp-admin category-submit-button text-uppercase  mt-65" type="button"
                        (click)="changeCategory(imageCategory.value,plan.value,item._id)" >Submit</button>
                      <div *ngIf="!textflag || this.indexnum != i">
                        <mat-icon (click)="deleteCont(item._id, item.contenttype)"
                          class="btn-grp-admin mat-color-red mat-background cp">delete </mat-icon>
                        <mat-icon (click)="editIndexArt(i)" class="btn-grp-admin mat-color-grey mat-background cp">edit
                        </mat-icon>
                        <mat-icon matTooltip="View details" class="cp ml-3"
                        [routerLink]="['/contentDetails', item._id]">remove_red_eye</mat-icon>
                      </div>

                      <mat-divider *ngIf="!lastItem"></mat-divider>
                    </div>
                  </div>
                  <div *ngIf="articleArr?.length === 0 " class="mt-35">
                    <span class="sp-color">No articles..</span>
                  </div>
                </mat-card>
              </form>
            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>