.comment-border{
    border:1px solid #f6b508;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}
::ng-deep .mat-form-field {
    display: block !important;

}
.pull-left.text-icons h4 {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 6px;
}
.comment-align {
    font-size: 12px;
    padding-left: 48px;
}
i.material-icons.report-icon {
    font-size: 17px;
    position: relative;
    top: 5px;
}
.commnts {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 10px 0px;
    margin-bottom: 10px;
}
::ng-deep textarea:placeholder{
    font-size: 12px;
}
button.btn.btn-secondary.pull-right {
    padding: 3px 10px !important;
    font-size: 13px;
    position: relative;
    top: -10px;
    line-height: 25px;
    background-color: #cdcdcd;
}
.wd-100{
    width: 100%;;
}

.video-css{max-width: 100%;
    height: auto;}
.flex-css{
    display: flex;

    width: 96%;
    
}
.flex-left {

    flex: 1 1 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.lead1 {

    font-size: 13px;
    font-family: Roboto,"Helvetica Neue",sans-serif;

}
.comment-border{
    border:1px solid #f6b508;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}
.pull-left.text-icons h4 {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 6px;
}
.comment-align {
    font-size: 12px;
    padding-left: 40px;
}
i.material-icons.report-icon {
    font-size: 17px;
    position: relative;
    top: 5px;
}
.commnts {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 10px 0px;
    margin-bottom: 10px;
}
::ng-deep textarea:placeholder{
    font-size: 12px;
}
button.btn.btn-secondary.pull-right {
    padding: 3px 10px !important;
    font-size: 13px;
    position: relative;
    top: -10px;
    line-height: 25px;
    background-color: #cdcdcd;
}
.pull-left {
    float: left;
    display: flex;
}
.pull-right {
    float: right;
    display: flex;
}
.space-del{

    padding-left: 10px;
   }
   .lead1 {
    font-size: 16px;
}
.child-msg {

    background: #e6e6e6;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 6px;
    margin-bottom: 10px;

}
::ng-deep .mat-form-field {
    display: block !important;
   }
.user-avatar{
    width: 30px;
}
.account-circle{
    font-size: 30px;color: #d1d2d2;
}