<div class=" wrapper page-inner content-fixed pd-tp">
    <div class="container">
        <div class="row m-auto">
            <div class="col-md-12">
                <h3>
                    <span class="mr-2 mat-icons-posstion cp" [routerLink]="['/dashboard']">
                        <mat-icon matTooltip="Back">reply</mat-icon>
                    </span>
                </h3>
            </div>
            <div class="col-md-12 text-center">
                <div *ngIf="img">
                    <img src="{{appurl+img}}" width="100%" class="m-auto">
                </div>
                <div *ngIf="video">
                    <video class="br-5 m-auto video-css" style="width: 100%;" controls poster="{{appurl+vid_thumb}}"
                        controlsList="nodownload" oncontextmenu="return false;">
                        <source src="{{appurl+video}}" type="video/mp4">
                        <source src="{{appurl+video}}" type="video/mkv">
                        <source src="{{appurl+video}}" type="video/webm">
                        <source src="{{appurl+video}}" type="video/wmv">
                    </video>
                    <h2>{{title }}</h2>
                </div>
                <div *ngIf="audio" style="width: 100%; margin: 0 auto;">
                    <div>
                        <img src="{{appurl+aud_thumb}}" class="img-blur" width="100%" />
                    </div>
                    <div class="padding-top15">
                        <audio class="br-5 wd-100" height="240" controls controlsList="nodownload"
                            oncontextmenu="return false;">
                            <source src="{{appurl+audio}}" type='audio/mpeg'>
                            <source src="{{appurl+audio}}" type='audio/m4a'>
                            <source src="{{appurl+audio}}" type='audio/wav'>
                            <source src="{{appurl+audio}}" type="audio/ogg">
                        </audio>
                    </div>
                    <h2>{{title }}</h2>
                </div>
                <div *ngIf="article">
                    <div>
                        <label [innerHtml]="safeHtml(article)"></label>
                    </div>
                    <h2>{{title }}</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="comment-border">
                    <h4>Comments</h4>
                    <div style="margin-top: 20px; margin-bottom: 20px;">
                        <mat-form-field class="example-full-width">
                            <textarea #box matInput placeholder="Add comment..."
                                (click)="showReport = false;"></textarea>
                        </mat-form-field>
                        <button style="margin: 0px 0px" class="btn  pull-right grad-css"
                            (click)="onEnter(box.value); box.value=''" type="button"><i class="fa fa-commenting"></i>
                            Comment</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="commnts" *ngFor="let comment of comments; let i = index;">
                        <div class="v-logo ">
                            <div class="pull-left img-icons">
                                <div
                                    *ngIf="comment?.comment?.user?.avatar && comment?.comment?.user?.avatar != 'undefined'; else tempImg">
                                    <img src="{{comment?.comment?.user?.avatar}}" style="width: 30px; ">
                                </div>
                                <ng-template #tempImg>
                                    <div class="pull-left">
                                        <i class="fa fa-user-circle-o fa-fw"
                                            style="font-size: 30px;color: #d1d2d2;"></i>
                                    </div>
                                </ng-template>
                            </div>
                            <div class="pull-left text-icons flex-css">
                                <div class="flex-left">
                                    <h4><strong>{{comment?.comment?.user?.fname}} {{comment?.comment?.user?.lname}}
                                        </strong><span class="created-time">
                                            {{comment?.comment?.createdAt | date:'short'}}</span></h4>
                                </div>
                                <div class="flex-right">
                                    <span>
                                        <i class="material-icons report-icon" (click)="togglereport(i)"
                                            matTooltip="Report">
                                            report
                                        </i></span></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="comment-align">
                                <p class="lead1"> </p>
                                <pre class="lead1">{{ comment?.comment?.comment }}</pre>
                                <div class="child-msg" *ngFor="let admin of comment?.adminreplays; let i = index;">
                                    <div class="pull-left img-icons">
                                        <div
                                            *ngIf="admin?.avatar && admin?.avatar != 'undefined'; else tempImg1">
                                            <img src="{{admin?.avatar}}" class="user-avatar">
                                        </div>
                                        <ng-template #tempImg1>
                                            <div class="pull-left">
                                                <i class="fa fa-user-circle-o fa-fw"
                                                    style="font-size: 30px;color: #d1d2d2;"></i>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div class="pull-left text-icons">
                                        <h4><strong>{{admin?.user?.fname}}
                                                {{admin?.user?.lname}}
                                            </strong><span class="created-time">
                                                {{admin?.createdAt    | date:'short'}}</span>
                                        </h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="comment-align">
                                        <p class="lead1">{{admin?.replay}} </p>
                                    </div>
                                </div>


                            </div>
                            <div style="margin-top: 20px" class="row collapse"
                                [ngStyle]="{display: (index === i && showReport)?'block':'none' }" id="collapseExample">
                                <div class="col-md-12">

                                    <mat-form-field class="example-full-width">
                                        <textarea #report matInput placeholder="Add some description..."></textarea>
                                    </mat-form-field>
                                    <button mat-raised-button style="margin: 0px 0px 10px 12px"
                                        class="btn btn-secondary pull-right" type="button"
                                        (click)="showReport = false; report.value='' ">
                                        Cancel</button>
                                    <button mat-raised-button style="margin: 0px 0px 10px 12px"
                                        class="btn btn-secondary pull-right"
                                        (click)="forReport(report.value, comment?.comment?._id)" type="button">
                                        Submit</button>


                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="text-center" *ngIf="showmoreFlag && dataloadFlag">

                        <button style="margin: 0px 0px; " class="btn mt-2  grad-css" type="button"
                            (click)="moreComments(false)">
                            Show More</button>
                    </div>
                    <div class="text-center" *ngIf="!showmoreFlag && recordCount>limit && dataloadFlag">

                        <button style="margin: 0px 0px; " class="btn mt-2  grad-css" type="button"
                            (click)="moreComments(true)">
                            Show Less</button>
                    </div> -->

                </div>

            </div>
        </div>
    </div>
</div>