<div class="wrapper page-inner content-fixed">

  <div class="conatiner w-100">

    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <h3><span class="mr-2 mat-icons-posstion cp" [routerLink]="['/customers']">
              <mat-icon matTooltip="Back">reply</mat-icon>
            </span></h3>

          <div class="row">
            <h2 class="user-info-heading"> User Information</h2>

            <!-- <div class="profile-status">
              <mat-icon *ngIf="profileStatus === 'Suspended'" style="color: #FFCD46"
                matTooltip="User Status is {{profileStatus}}">access_time</mat-icon>
              <mat-icon *ngIf="profileStatus === 'Active'" style="color: #1DA462"
                matTooltip="User Status is {{profileStatus}}">verified_user</mat-icon>
              <mat-icon *ngIf="profileStatus === 'Deleted'" style="color: #DD5140"
                matTooltip="User Status is {{profileStatus}}">cancel</mat-icon>
            </div> -->

          </div>
          <div class="box-body dashboard_list_man">
            <div class="row div-grid user-detail-row">
              <div class="col-md-5 ">
                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">First Name:</label>
                  <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{firstName}}</div>
                </div>
                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Last Name:</label>
                  <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{lastName}}</div>
                </div>


                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Email:</label>
                  <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{email}} <span>
                      <mat-icon matTooltip="Email is not verified" *ngIf="isemail == 0" class="mat-icons-posstion"
                        style="color: #DD5140">report_problem</mat-icon>
                      <mat-icon matTooltip="Email is verified" *ngIf="isemail == 1" class="mat-icons-posstion"
                        style="color: #1DA462">check_circle</mat-icon>
                    </span>
                  </div>
                </div>

                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Phone:</label>
                  <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{phone}} <span>
                      <mat-icon matTooltip="Phone is not verified" *ngIf="isphone == 0" class="mat-icons-posstion"
                        style="color: #DD5140">report_problem</mat-icon>
                      <mat-icon matTooltip="Phone is verified" *ngIf="isphone == 1" class="mat-icons-posstion"
                        style="color: #1DA462">check_circle</mat-icon>
                    </span>
                  </div>
                </div>

                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">MTA Program:</label>
                  <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{newsletter}}</div>
                </div>

                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Payment Type:</label>
                  <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{payment_type}}</div>
                </div>

                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Referral Code:</label>
                  <div *ngIf="refCode== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">N/A</div>
                  <div *ngIf="refCode!== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{refCode}}</div>
                </div>
              </div>

              <div class="col-md-4 ">
                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Address:</label>
                  <div *ngIf="address== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">N/A</div>
                  <div *ngIf="address!== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{address}}</div>

                </div>
                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">City:</label>
                  <div *ngIf="city== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">N/A</div>
                  <div *ngIf="city!== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{city}}</div>
                </div>
                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">State:</label>
                  <div *ngIf="state== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">N/A</div>
                  <div *ngIf="state!== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{state}}</div>
                </div>
                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Country:</label>
                  <div *ngIf="country== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">N/A</div>
                  <div *ngIf="country!== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{country}}</div>
                </div>
                <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">PinCode:</label>
                  <div *ngIf="zipCode== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">N/A</div>
                  <div *ngIf="zipCode!== ''" class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{zipCode}}</div>
                </div>
              </div>
              <div class="col-md-3 text-center mb-3 mt-3">

                <img *ngIf="avtar !== ''" class=" user-img " src="{{avtar}}" alt="" srcset="">
                <img *ngIf="avtar == '' || profilePicture " class=" user-img "
                  [src]="'assets/images/icons/profile1.png'" alt="" srcset="">
              </div>
            </div>

            <mat-expansion-panel class="mt-10 ">
              <mat-expansion-panel-header matRipple>
                <mat-panel-title>
                  <strong>Payment History</strong>

                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="ml-10">
                <div class="col-md-5 ">
                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Address:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{btcAddress}}</div>
                  </div>

                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Amount:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{btcAmount}} BTC</div>
                  </div>

                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Invoice ID:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{invoceId}}</div>
                  </div>

                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Memo:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{memo}}</div>
                  </div>

                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Payment
                      Status:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{paymentStatus}} <span>
                        <mat-icon matTooltip="Payment is pending" *ngIf="ispaid === 'Pending'"
                          class="mat-icons-posstion" style="color: #DD5140">report_problem</mat-icon>
                        <mat-icon matTooltip="Payment is done" *ngIf="ispaid === 'Paid'" class="mat-icons-posstion"
                          style="color: #1DA462">check_circle</mat-icon>
                      </span>
                    </div>
                  </div>
                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Date:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{payment_date | date:'medium' }}</div>
                  </div>




                </div>
              </div>
            </mat-expansion-panel>


            <mat-expansion-panel class="mt-10 ">
              <mat-expansion-panel-header matRipple>
                <mat-panel-title>
                  <strong>Membership</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="ml-10">
                <div class="col-md-5 ">
                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">MTA Program
                      Plan:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{newsletter}}</div>
                  </div>

                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Amount:</label>
                    <div class="col-md-8 col-sm-8 col-7 m-t-8 userdata">{{btcAmount}} BTC</div>
                  </div>

                  <div class="form-group row"><label class="control-label col-md-4 col-sm-4 col-5">Next Payment
                      Date:</label>
                    <div *ngIf="newsletter === 'Lifetime Membership'" class="col-md-8 col-sm-8 col-7 m-t-8 userdata"
                      style="color: #1DA462; font-weight: bold; "> {{Noexpiry}} </div>
                    <div *ngIf="newsletter !== 'Lifetime Membership'" class="col-md-8 col-sm-8 col-7 m-t-8 userdata"
                      style="color: #DD5140; font-weight: bold; "> {{expiryDate | date:'medium'}} </div>
                  </div>

                </div>
              </div>
            </mat-expansion-panel>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>