::ng-deep .mat-focused .mat-form-field-label {
    color: #f8b12c !important;
   }
  ::ng-deep.mat-form-field-ripple {
   background-color: #f8b12c !important;;
  }
 ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important ;
}
.material-icons {
   
    font-size: 19px;
}