<header class="dark 12">
    <div class="container-fluid">
        <nav role="navigation">
            <div class="logo">
                <a [routerLink]="['/']" class="logo"><img src="assets/images/mix-full-logo.jpg"></a>
            </div>

            <a href="javascript:void(0);" class="ic menu" tabindex="1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <a href="javascript:void(0);" class="ic close"></a>

            <ul class="main-nav" *ngIf="apiService.isLoggedIn()">
                <li class="top-level-link">
                    <a class="mega-menu home-pos" [routerLink]="['/']" routerLinkActive="active">
                        <i class="material-icons">home</i>
                    </a>
                </li>                
                <li class="top-level-link desktop-view">
                    <div class="dropdown menu-lrft1">
                        <a class="menu-lrft"
                           href="javascript:void(0);" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="material-icons menu-lrft-a">menu</i>
                    </a>
                        <div class="dropdown-menu nav-drp 12323" aria-labelledby="dropdownMenuButton1">
                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding (click)="activeNode = node"  [ngClass]="{ 'background-highlight': activeNode === node }">
                                    <a  class="tree-css" (click)="logNode(node)" [routerLink]="['/dashboard']" [queryParams]="{ queryParams: this.catObj }" >{{node.item | titlecase }}12</a>
                                    <!-- <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                                        (change)="todoLeafItemSelectionToggle(node)"> {{node.item | titlecase }}</mat-checkbox> -->
                                </mat-tree-node>            
                                <mat-tree-node (click)="onSelectCategory(node)" *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                                        <mat-icon class="mat-icon-rtl-mirror" (click)="expandParents(node)">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button>
                                    {{node.item | titlecase}}
                                </mat-tree-node>
                            </mat-tree>
                        </div>
                    </div>
                </li>
                <li class="top-level-link" *ngIf="accountType!='Free'">
                    <a class="mega-menu" [routerLink]="['/trade']" routerLinkActive="active"
                        style="margin-right: 30px;"><span>Trade</span></a>
                </li>
                <li class="top-level-link desktop-view">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle grad-css mb-10 border-none nav-drp-btn"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <!-- <i class="material-icons" *ngIf="!details.avatar || details.avatar===''" >account_circle </i> -->
                            <img src="assets/images/avatar/user.svg"
                                *ngIf="!details.avatar || details.avatar===''" class="" [ngStyle]="{'width':'25px'}">
                            <img src="{{details.avatar}}" *ngIf="details.avatar && details.avatar!==''"
                                style="width: 25px; " />
                            <span *ngIf="details.fname && details.fname!==''"
                                class="user-btn-header">{{details.fname | titlecase}}
                                {{details.lname | titlecase}}</span>
                        </button>
                        <div class="dropdown-menu nav-drp" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
                            <a class="dropdown-item" [routerLink]="['/account']" routerLinkActive="active">My
                                Account</a>
                            <a class="dropdown-item" [routerLink]="['/paymenthistory']"
                                routerLinkActive="active">Payment History</a>
                            <a class="dropdown-item" [routerLink]="['/changepassword']" routerLinkActive="active">Change
                                Password</a>
                            <a class="dropdown-item" [routerLink]="['/loginlogs']" routerLinkActive="active">Login
                                Logs</a>
                                <a class="dropdown-item" href="javascript:void(0)">Book a consultation</a>
                            <a class="dropdown-item" (click)="logout()"><span>Logout

                                </span>
                                <mat-icon matTooltip="Logout" style="color: rgb(144, 138, 138);     margin-right: 10px;     top: 6px;
                                    position: relative;">
                                    power_settings_new</mat-icon>
                            </a>

                        </div>
                    </div>
                </li>
                <li class="top-level-link mobile-view">
                    <a [routerLink]="['/profile']" routerLinkActive="active"
                        class="a-color mega-menu"><span>Profile</span></a>
                </li>
                <li class="top-level-link mobile-view">
                    <a [routerLink]="['/account']" routerLinkActive="active" class="a-color mega-menu"><span>My
                            Account</span></a>
                </li>
                <li class="top-level-link mobile-view">
                    <a [routerLink]="['/paymenthistory']" routerLinkActive="active"
                        class="a-color mega-menu"><span>Payment History</span></a>
                </li>
                <li class="top-level-link mobile-view">
                    <a [routerLink]="['/changepassword']" routerLinkActive="active"
                        class="a-color mega-menu"><span>Change Password</span></a>
                </li>
                <li class="top-level-link mobile-view">
                    <a [routerLink]="['/loginlogs']" routerLinkActive="active" class="a-color mega-menu"><span>Login
                            Logs</span></a>
                            
                </li>
                <li class="top-level-link mobile-view">
                    <a href="javascript:void(0)" class="a-color mega-menu"><span>Book a consultation</span></a>
                </li>
                <li class="top-level-link mobile-view">
                    <a href="javascript:void(0)" (click)="logout()" class="a-color mega-menu"><span>Logout
                            <mat-icon matTooltip="Logout" style="color: rgb(144, 138, 138); position: relative;
                                top: 7px;">power_settings_new</mat-icon>
                        </span></a>
                </li>
                <!-- <li class="top-level-link desktop-view">
                    <a>
                        <button mat-mini-fab [matMenuTriggerFor]="beforeMenu" class="profile-icon" style="width: 25px; height: 25px;     position: relative;
                            top: 6px;">
                            <i class="material-icons" *ngIf="!details.avatar || details.avatar===''" style="width: 25px; position: relative;
                            bottom: 7px;" > account_box </i>
                            <img src="{{details.avatar}}" *ngIf="details.avatar && details.avatar!==''" style="width: 25px; position: relative;
                                bottom: 7px;" />
                        </button>

                        <span *ngIf="details.fname && details.fname!==''"
                            style="margin-left: 8px;">{{details.fname | titlecase}}
                            {{details.lname | titlecase}}</span></a>
                       </a>

                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item>
                            <a  class="a-color "
                                style="float: left !important;"><span></span></a>
                        </button>
                        <button mat-menu-item>
                            <a href="javascript:void(0)" (click)="logout()" class="a-color"><span>Logout
                                    
                                </span></a>
                        </button>
                    </mat-menu>
                </li> -->



            </ul>
        </nav>
    </div>
</header>
<router-outlet (activate)="onActivate($event)"></router-outlet>

<footer class="footer-parallax light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4>Company and team</h4>
                <div class="menu-inner menu-inner-vertical">
                    <ul>
                        <li>
                            <a href="#">Company details and team</a>
                        </li>
                        <li>
                            <a [routerLink]="['/news']">News and blog</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a [routerLink]="['/affiliate-marketing']">Affiliates and marketing</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Help and support</h4>
                <div class="menu-inner menu-inner-vertical">
                    <ul>                        
                        <li>
                            <a [routerLink]="['/userfeedback']">Feedback</a>
                        </li>
                        <li>
                            <a [routerLink]="['/request-form']">Request new features</a>
                        </li>
                        <li>
                            <a  [routerLink]="['/usercontactus']">Contact us</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-3">
                <h4>Learn more</h4>
                <div class="menu-inner menu-inner-vertical">
                    <ul>                     
                        <li>
                            <a [routerLink]="['/privacy-policy']" >Privacy and terms</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Follow us</h4>
                <div class="icon-links icon-social icon-links-grid social-colors">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/Mixedtradingarts-109388713995370/"><i class="fab fa-facebook-f"></i></a>
                    <a class="twitter" target="_blank" href="https://twitter.com/MixedTradingArt?s=20"><i class="fab fa-twitter"></i></a>
                    <a class="linkedin"  target="_blank" href="https://www.linkedin.com/company/mixedtradingarts/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCASIIcm78KXZZvwe7wca4Yg"><i class="fab fa-youtube"></i></a>
                    <a class="instagram" target="_blank" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                    <a class="telegram" target="_blank" href="https://t.me/joinchat/KxjGaRMiBMq_B8o3Lc-rIQ"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center text-lightgray">
                Copyrights by Mixedtradingarts
            </div>
        </div>
    </div>
</footer>