<div class="p-40">
    <mat-card-content>
        <form class="form-signin form-data" [formGroup]="otpForm">
            <mat-card class="row">
                <mat-form-field class="col-md-12">
                    <input matInput type="text" id="usr" formControlName="code" placeholder="Enter Code">
                    <mat-error *ngIf="fc.code.touched && fc.code.errors">
                        <mat-error *ngIf="fc.code.errors.required">Email is required!</mat-error>
                    </mat-error>
                </mat-form-field>
                <div class="col-md-12">
                    <mat-card-actions>
                        <button mat-raised-button class=" text-uppercase fa-pull-left mt-65"
                            [ngClass]="{'grad-css': otpForm.valid}" type="submit"
                            [disabled]="!otpForm.valid" (click)="codeVerify()">Verify</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </form>
    </mat-card-content>

</div>