.form-signin{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    }
     
    .mat-form-field {
      padding-bottom: 25px;
  }
  .p-40{padding: 40px;}
  
  .form-data{
  margin-top: 40px;
  font-size: 16px;
  }
.p-tb{padding: 0px 10px 25px 10px;}
  
::ng-deep .mat-focused .mat-form-field-label {
  color: #f8b12c !important;
 }
::ng-deep.mat-form-field-ripple {
 background-color: #f8b12c !important;;
}