td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0 12px !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.example-container {
    height: 216px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  tr.mat-footer-row, tr.mat-row, tr.mat-header-row{
    height: 30px;
}

  
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
   opacity: 1;
   background: linear-gradient(180deg, rgb(246, 175, 44) 0%, rgb(255, 206, 114) 100%);
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#056ea0', endColorstr='#01a3e2', GradientType=0);
   color: #fff !important;
   border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b500 !important;
}
.inst-span {

  word-break: break-all;

}
.inst-span span {

  padding: 1px 3px;
  word-break: break-all;

}
.instrument-data::after {
content: "|";
padding-left: 5px;
color:#d1cdcd;
padding-right: 5px;}

.inst-data-bor{
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.inst-span span:first-child {

  padding: 0px;

}

.success-green-trade{
  background-color: #8cf68c;
}
.success-red-trade{
  background-color: #f66060;
}
::ng-deep.mat-header-cell {
  font-size: 16px;
  font-weight: 500;
}
::ng-deep.mat-cell, .mat-footer-cell {
  font-size: 17px;
}
::ng-deep.mat-tab-label, .mat-tab-link {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.bitmex-text{padding: 0px 0px 20px;font-size: 18px;color: #f9b942;font-weight: bold;}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: 
  #fabd4b;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: 
  rgb(252, 208, 125);
}

