<div class="wrapper page-inner content-fixed pd-tp">
    <div class="conatiner m-auto">
        <div class="row">
            <div class="col-md-12 ">

                <div class="box-shadow custom-card-width1">
                    <div class="row justify-content-md-center p-3 " *ngIf="showform == 'view'">

                        <div class="col-md-auto pad-cls custom-card-width1" *ngIf="details.fname!==''">
                            <div class=" " style="margin: 10px;">
                                <div class="profile-bg mt-3">
                                    <div class="text-center">
                                        <!-- <i *ngIf="!details.avatar || details.avatar===''" class="fa fa-user-circle"
<div class="box-shadow custom-card-width1">
    <div class="row justify-content-md-center p-3 " *ngIf="showform == 'view'">
    
        <div class="col-md-auto pad-cls custom-card-width1" *ngIf="details.fname!==''">
            <div class=" " style="margin: 10px;">
                <div class="profile-bg mt-3">
                    <div class="text-center">
                        <i *ngIf="!details.avatar || details.avatar===''" class="fa fa-user-circle"
                            style="font-size: 120px"></i> -->

                                        <i class="material-icons" *ngIf="!details.avatar || details.avatar===''"
                                            style="font-size: 120px; color:
                                            #fcc55d;"> account_circle </i>
                                        <img src="{{details.avatar}}" *ngIf="details.avatar && details.avatar!==''"
                                            class="profileavatar-selected" [ngStyle]="{'width':'35%'}">
                                    </div>
                                    <div class="text-center lab-neme mt-2" *ngIf="details.fname && details.fname!==''">
                                        <label> {{details.fname | uppercase}} {{details.lname | uppercase}}</label>
                                    </div>

                                </div>
                                <div class="" style="line-height: 30px;     margin-top: 13px;">

                                    <div class="lat-p" *ngIf="details.email && details.email !==''">
                                        <img src="assets/images/message.png" width="20px">
                                        <label class="ml-10" style="font-size: 14px;"> {{details.email}}</label>
                                        <span>
                                            <mat-icon matTooltip="Email is not verified"
                                                *ngIf="details.email_verified == 0"
                                                class="mat-icons-posstion icon-sizes" style="color: #DD5140;  ">
                                                report_problem</mat-icon>
                                            <mat-icon matTooltip="Email is verified" *ngIf="details.email_verified == 1"
                                                class="mat-icons-posstion icon-sizes" style="color: #1DA462">
                                                check_circle</mat-icon>
                                        </span>
                                    </div>

                                    <div class="lat-p" *ngIf="details.phone && details.phone !==''">
                                        <img src="assets/images/call.png" width="25px">
                                        <label class="ml-10" style="font-size: 14px;"> {{details.phone}}</label>
                                        <span>
                                            <mat-icon matTooltip="Phone is not verified"
                                                *ngIf="details.phone_verified == 0"
                                                class="mat-icons-posstion icon-sizes" style="color: #DD5140">
                                                report_problem</mat-icon>
                                            <mat-icon matTooltip="Phone is verified" *ngIf="details.phone_verified == 1"
                                                class="mat-icons-posstion icon-sizes" style="color: #1DA462">
                                                check_circle</mat-icon>
                                        </span>
                                    </div>

                                    <div class="lat-p" *ngIf="details.address && details.address !==''"
                                        style="display: inline-flex;">
                                        <div>
                                            <img src="assets/images/location.png" width="25px">

                                        </div>
                                        <div>

                                            <label class="ml-10" style="font-size: 14px;">
                                                <span class="text-center"> {{details.address}}<span
                                                        *ngIf="details.city">,</span>
                                                    {{details.city}}<span *ngIf="details.state">,</span>
                                                    {{details.state}}<span *ngIf="details.zipcode">,</span>
                                                    {{details.zipcode}}<span *ngIf="details.country">,</span>
                                                    {{details.country}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button mat-raised-button class="grad-css mt-2" (click)="showform='edit'">Edit
                                            <i class="material-icons" style="font-size: 15px;
                            margin-bottom: 4px;"> edit
                                            </i> </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="box-shadow m-auto custom-card-width">

                    <div class="container p-3
    " *ngIf="showform == 'edit'">

                        <form class="" [formGroup]="ProfileEditForm">

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class=" edit-profile-text">
                                        <p>Edit Profile</p>


                                    </div>

                                    <div class="form-group col-sm-12 profile-bg mb-30">
                                        <div class="u-form-group  first-child text-center">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145842.svg"
                                                (click)="selectAvatar('assets/images/avatar/145842.svg')">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145843.svg"
                                                (click)="selectAvatar('assets/images/avatar/145843.svg')">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145844.svg"
                                                (click)="selectAvatar('assets/images/avatar/145844.svg')">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145845.svg"
                                                (click)="selectAvatar('assets/images/avatar/145845.svg')">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145846.svg"
                                                (click)="selectAvatar('assets/images/avatar/145846.svg')">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145847.svg"
                                                (click)="selectAvatar('assets/images/avatar/145847.svg')">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145849.svg"
                                                (click)="selectAvatar('assets/images/avatar/145849.svg')">
                                            <input type="image" class="profileavatar"
                                                src="assets/images/avatar/145850.svg"
                                                (click)="selectAvatar('assets/images/avatar/145850.svg')">
                                        </div>


                                    </div>
                                    <div class="text-center">
                                        <i class="material-icons" *ngIf="!details.avatar || details.avatar===''"
                                        style="font-size: 120px; color:
                                        #fcc55d;" >
                                            account_circle </i>
                                           
                                        <img src="{{details.avatar}}" *ngIf="details.avatar && details.avatar!==''"
                                            class="profileavatar-selected mb-30" [ngStyle]="{'width':'35%'}">
                                    </div>




                                    <mat-form-field class="col-md-6">
                                        <input matInput type="text" formControlName="fname" placeholder="First Name"
                                            [(ngModel)]="profileObj.fname">
                                        <mat-error *ngIf="fc.fname.touched && fc.fname.errors">
                                            <mat-error *ngIf="fc.fname.errors.required">Field is required!
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md-6">
                                        <input matInput type="text" formControlName="lname" placeholder="Last Name"
                                            [(ngModel)]="profileObj.lname">
                                        <mat-error *ngIf="fc.lname.touched && fc.fname.errors">
                                            <mat-error *ngIf="fc.lname.errors.required">Field is required!
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-md-12">
                                        <input matInput type="text" formControlName="address" placeholder="Address"
                                            [(ngModel)]="profileObj.address">
                                        <mat-error *ngIf="fc.address.touched && fc.address.errors">
                                            <mat-error *ngIf="fc.address.errors.required">Field is required!
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-md-4">
                                        <input matInput type="text" formControlName="city" placeholder="City"
                                            [(ngModel)]="profileObj.city">
                                        <mat-error *ngIf="fc.city.touched && fc.city.errors">
                                            <mat-error *ngIf="fc.city.errors.required">Field is required!
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-md-4">
                                        <input matInput type="text" formControlName="state" placeholder="State"
                                            [(ngModel)]="profileObj.state">
                                        <mat-error *ngIf="fc.state.touched && fc.state.errors">
                                            <mat-error *ngIf="fc.state.errors.required">Field is required!
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-md-4">
                                        <input matInput type="text" formControlName="zipcode"
                                            placeholder="Zip/Postal Code" [(ngModel)]="profileObj.zipcode">
                                        <mat-error *ngIf="fc.zipcode.touched && fc.zipcode.errors">
                                            <mat-error *ngIf="fc.zipcode.errors.required">Field is required!
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-md-12">
                                        <mat-select placeholder="Country" formControlName="country"
                                            [(ngModel)]="profileObj.country">
                                            <mat-option *ngFor="let item of countrylist" value="{{item.name}}">
                                                {{item.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class=" p-tb custom-margin">




                                <div class="">

                                    <button mat-raised-button class=" text-uppercase float-left  grad-css mt-65"
                                        type="submit" (click)="updateProfile()">Update</button>
                                </div>
                                <div class="">

                                    <button mat-raised-button class=" text-uppercase float-right  mt-65" type="submit"
                                        (click)="showform='view'; getProfile();">Cancel</button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>