<div class="wrapper page-inner content-fixed">
  <div class="conatiner w-100">
    <div class="row">
      <div class="col-md-12 ">
        <div class="box-shadow p-3">
          <div>
            <mat-card-content>
              <mat-card>
                <h5>Category</h5>





                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <!-- {{node.item | titlecase }} -->
                    <mat-checkbox class="checklist-leaf-node"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="todoLeafItemSelectionToggle(node)"> {{node.item | titlecase }}</mat-checkbox>
                    
                  </mat-tree-node>

                  

                  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                      <mat-icon class="mat-icon-rtl-mirror" (click)="expandParents(node)">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>

                    <!-- <mat-checkbox [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                  draggable="false"
                  [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  >{{node.item | titlecase}}</mat-checkbox> -->

                  {{node.item | titlecase}}

                  <!-- <mat-checkbox [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">{{node.item | titlecase}}</mat-checkbox> -->
                  </mat-tree-node>
                </mat-tree>

                <span #emptyItem></span>

              </mat-card>

            </mat-card-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>