.zoom {
    
    
    transition: transform .2s; /* Animation */
    
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.3);
    z-index: 99; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .img-blur {
   /* height: 160px;*/
   width: 100%;
}
.padding-top15{
  padding-top:15px;
}
.padding-top15 audio{
width: 100%;}
iframe{
border: 0px !important ;
}

