<div class="wrapper page-inner content-fixed">
    <div class="container">
        <div class="row m-auto">
            <div class="col-md-12 ">
                <div class=" p-3">
                    <div>
                        <div class="dash-center">
                            <h1>Welcome to Dashboard</h1>
                        </div>                        

                        <!--  START Video Section -->    
                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col col-xs-12">
                                        <div class="section-title-s5">
                                            <h2>Video</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="grid-list" data-columns="4" data-columns-lg="4" data-columns-md="2"
                                            data-columns-sm="1">
                                            <div class="grid-box cp">
                                                <div class="grid-item " *ngFor="let item of videoArr; let i= index;">
                                                    <a class="media-box media-box-half zoom"
                                                        *ngIf="item.contenttype ==='Video'">
                                                        <!-- <div *ngIf="this.base64videoFile === null || this.indexnum != i"
                                                            class="text-center position-re">
                                                            <img src="assets/images/MTA-logo.png" alt="MTA"
                                                                *ngIf="item.video_privacy ==='private'"
                                                                class="post-icon">
                                                            <video class="br-5 m-auto" height="150" style="width: 100%;"
                                                                controls poster="{{appurl+item.video_thumbnail}}" controlsList="nodownload"  oncontextmenu="return false;">
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type="video/mp4">
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type="video/mkv">
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type="video/webm">
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type="video/wmv">
                                                            </video>
                                                        </div> -->
                                                        <iframe width="255" height="160" allowfullscreen [src]="item.content_url | safe"  ></iframe>


                                                    </a><span class="float-right"><i class="material-icons colour-yellow"
                                                        [routerLink]="['/content', item._id]" matTooltip="View">
                                                        visibility
                                                    </i> </span>
                                                    <div>
                                                        <span class="text-lightblack">
                                                            {{item.video_title}}
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div *ngIf="videoArr?.length === 0 " class="mt-35 text-center">
                                            <span class="sp-color">No video...</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                        <!--  END Video Section -->    

                        <!--  START Audio Section -->    
                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col col-xs-12">
                                        <div class="section-title-s5">
                                            <h2>Podcast</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="grid-list" data-columns="2" data-columns-lg="2" data-columns-md="1"
                                            data-columns-sm="1">
                                            <div class="grid-box cp">
                                                <div class="grid-item " *ngFor="let item of audioArr; let i= index;">
                                                    <a class="media-box media-box-half zoom"
                                                        *ngIf="item.contenttype ==='Audio'">
                                                        <img src="assets/images/MTA-logo.png" alt="MTA"
                                                            *ngIf="item.audio_privacy ==='private'" class="post-icon">
                                                        <div>
                                                            <img src="{{imageEndPoint+item.audio_thumbnail}}" width="320"
                                                                height="240" class="img-blur" />
                                                        </div>
                                                        <div class="padding-top15">
                                                            <audio class="br-5" height="240" controls controlsList="nodownload" oncontextmenu="return false;" > 
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type='audio/mpeg'>
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type='audio/m4a'>
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type='audio/wav'>
                                                                <source src="{{imageEndPoint+item.content_url}}"
                                                                    type="audio/ogg">
                                                            </audio><!-- 
                                                            <mat-basic-audio-player [audioUrl]="imageEndPoint+item.content_url" [displayVolumeControls]="msaapDisplayVolumeControl"></mat-basic-audio-player>
 -->
                                                        </div>
                                                    </a><span class="float-right"><i class="material-icons colour-yellow"
                                                        [routerLink]="['/content', item._id]" matTooltip="View">
                                                        visibility
                                                    </i> </span>
                                                    <div>
                                                        <span class="text-lightblack">
                                                            {{item.audio_title}}
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div *ngIf="audioArr?.length === 0 " class="mt-35 text-center">
                                            <span class="sp-color">No podcast..</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                        <!--  END Audio Section -->   

                         <!--  START Images Section -->
                         <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col col-xs-12">
                                        <div class="section-title-s5">
                                            <h2>Fractals library</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="grid-list" data-columns="4" data-columns-lg="4" data-columns-md="2"
                                            data-columns-sm="1">
                                            <div class="grid-box cp">
                                                <div class="grid-item " *ngFor="let item of imgArr; let i= index;">
                                                    <a class="media-box media-box-half zoom"
                                                        *ngIf="item.contenttype ==='Image'">
                                                        <div class="zoom text-center"
                                                            *ngIf="this.base64File === null || this.indexnum != i">
                                                            <img src="{{imageEndPoint+item.content_url}}" class="br-5 m-auto"
                                                                (click)="showimgAlert(appurl+item.content_url)" alt=""
                                                                height="150" />
                                                        </div>
                                                        <input [hidden]="true" (change)="onFileSelect($event, i)"
                                                            type="file" accept=".png, .jpg, .jpeg" #fileUpload>
                                                    </a><span class="float-right"><i class="material-icons colour-yellow"
                                                        [routerLink]="['/content', item._id]" matTooltip="View">
                                                        visibility
                                                    </i> </span>
                                                    <div>
                                                        <span class="text-lightblack">
                                                            {{item?.image_title}}
                                                        </span>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                        <div *ngIf="imgArr?.length === 0 " class="mt-35 text-center">
                                            <span class="sp-color">No fractals library..</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                        <!--  END Images Section -->

                        <!--  START Articles Section -->    
                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-xs-12">
                                            <div class="section-title-s5">

                                                <h2>Reading Materials</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="grid-list" data-columns="4" data-columns-lg="4" data-columns-md="2"
                                                data-columns-sm="1">
                                                <div class="grid-box">
                                                    <div class="grid-item " *ngFor="let item of articleArr; let i= index;">
                                                        <a class="media-box media-box-half zoom">
                                                            <img src="{{imageEndPoint+item.article_thumbnail}}" width="300"
                                                                height="325" class="img-blur" />
                                                            <div class="caption">
                                                                <h2>{{item.article_title}}</h2>
                                                                <div class="read-more"
                                                                    (click)="showAlert(item.article, item.article_title)">
                                                                    Read More</div>
                                                            </div>
                                                        </a><span class="float-right"><i class="material-icons colour-yellow"
                                                            [routerLink]="['/content', item._id]" matTooltip="View">
                                                            visibility
                                                        </i> </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div *ngIf="articleArr?.length === 0 " class="mt-35 text-center">
                                                    <span class="sp-color">No Articles..</span>
                                                </div>

                                        </div>

                                    </div>
                                </div>
                            </section>
                        <!--  End Articles Section -->    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>