::ng-deep.mat-header-cell {
    font-size: 16px;
    font-weight: 500;
  }
  ::ng-deep.mat-cell, .mat-footer-cell {
    font-size: 17px;
  }
  ::ng-deep.mat-tab-label, .mat-tab-link {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 500;
  }