<div class="wrapper page-inner content-fixed pd-tp">
    <div class="conatiner w-100">
        <div class="table-res mt-10 mat-elevation-z8">

            <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Access Type</th>
                    <td mat-cell *matCellDef="let record">
                        <!-- <span> {{record.type }} </span> -->
                        <mat-icon *ngIf="record.type === 'desktop'" matTooltip="{{record.type}}">desktop_mac
                        </mat-icon>
                        <mat-icon *ngIf="record.type === 'phone'" matTooltip="{{record.type}}">phone_iphone
                        </mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ipaddress">
                    <th mat-header-cell *matHeaderCellDef>IP Address</th>
                    <td mat-cell *matCellDef="let record"> {{record.ipaddress}} </td>
                </ng-container>

                <ng-container matColumnDef="macaddress">
                    <th mat-header-cell *matHeaderCellDef>MAC Address</th>
                    <td mat-cell *matCellDef="let record"> {{record.macaddress}} </td>
                </ng-container>


                <ng-container matColumnDef="browser">
                    <th mat-header-cell *matHeaderCellDef>Browser</th>
                    <td mat-cell *matCellDef="let record"> {{record.agent}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let record" matTooltip="{{record.description}}">
                        {{ (record.description.length>60)? (record.description | slice:0:60)+'...':(record.description) }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef>Date/Time</th>
                    <td mat-cell *matCellDef="let record" > {{record.createdAt | date:'medium' }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <div *ngIf="dataSource.data.length === 0" class="text-center mt-2">
                No record found!
            </div>

            <mat-paginator #paginator [length]="totalUserLength" [pageSize]="limitUser" [pageSizeOptions]="[5, 10, 15]"
                showFirstLastButtons (page)="getAlllogs($event)">
            </mat-paginator>

        </div>
    </div>
</div>