
   

<div class="p-40 custom-padding-card login-bg ">
    <mat-card-content>
            
        <form class="form-signin form-data" [formGroup]="loginForm">
            <mat-card class="row custom-card-width box-shadow">
                    <div  class="login-title text-center mt-3"><h2 class="text-darkblack">Login</h2>
                    </div>
                    <!-- <div class="login-text text-center mt-4">
                        Welcome back! Login to access the Mixed Trading Arts.
                    </div> -->

                <mat-form-field class="col-md-12 custom-col-12 mt-3">
                    <input matInput formControlName="email" name="email" matNativeControl placeholder="Email address">
                    <mat-error *ngIf="fc.email.touched && fc.email.errors">
                        <mat-error *ngIf="fc.email.errors.required">Email is required!</mat-error>
                        <mat-error *ngIf="fc.email.errors.email">Email is not valid!</mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-12 custom-col-12">
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                        formControlName="password" autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="fc.password.touched && fc.password.errors">
                        <mat-error *ngIf="fc.password.errors.required">Password is required!
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-checkbox  class="col-md-12" [checked]="remember" [disabled]="!loginForm.valid" indeterminate="true">Remember me!
                </mat-checkbox>
<div class="col-md-12">

        <mat-card-actions>
                <button mat-raised-button [ngClass]="{'grad-css': loginForm.valid}" [disabled]="!loginForm.valid" (click)="login()"
                   >Sign in</button>
            </mat-card-actions>
</div>
              
                <div class="row p-tb">
                    <div class="col-md-6 custom-col-6">

                        <a class="float-left fl-none" href="javascript:void(0)" [routerLink]="['/plan']" routerLinkActive="router-link-active"  >Need an account?</a>
                    </div>
                    <div class="col-md-6 custom-col-6">
                        
                        <a class="float-right fl-none" href="javascript:void(0)" [routerLink]="['/forgetPassword']" routerLinkActive="router-link-active" >Forgot Password?</a>
                        </div>
                </div>
            </mat-card>
        </form>
    </mat-card-content>

</div>