
  
::ng-deep .mat-focused .mat-form-field-label {
  color: #f8b12c !important;
 }
::ng-deep.mat-form-field-ripple {
 background-color: #f8b12c !important;;
}
.mat-form-field {
  padding-bottom: 20px;
}
@media (max-width: 600px){
  .custom-card-width{
      width: 100%;
      margin: 0 auto;
  }
  .mat-form-field {
    padding-bottom: 0px;
  }
  .custom-col-12{
    margin-top: 0px !important;
  }
}
@media (max-width: 768px){
  
  .custom-col-12{
    margin-top: 0px !important;
  }
}

