<div class="wrapper page-inner content-fixed pd-tp">
    <div class="container-fluid ">
        <div class="row">

                <div *ngIf="details.api_key_status" class="col-md-12 text-right bitmex-text">
                    <mat-slide-toggle (change)="toggle($event)" >Switch Your Account</mat-slide-toggle>
                </div>
            <div *ngIf="!details.api_key_status" class="col-md-12 text-right bitmex-text">
                <div><span> Do you want to add your Bitmex Account?</span></div>
              <div><button [routerLink]="['/account']" class="grad-css btn ">
                Click Here
            </button></div>  
            </div>
            <div class="col-md-12 inst-data-bor">
                <span class="inst-span">

                    <span *ngFor="let list of instrumentData; let i =index">
                        <span class="instrument-data">
                            <span>{{list.symbol}}</span>
                            <span [ngClass]="{
                                'success-green-trade':symbolArr1[list.symbol] == list.symbol,
                                'success-red-trade':symbolArr[list.symbol] == list.symbol && redIns}">
                                <strong> {{list.lastPrice}}</strong></span>
                            <span [ngStyle]="{'color': list.lastChangePcnt > 0 ? 'green' : 'red' }" 
                                [ngClass]="{'success-green-trade':symbolArr1[list.symbol] == list.symbol,
                                    'success-red-trade':symbolArr[list.symbol] == list.symbol && redIns}">
                                {{((list.lastChangePcnt)*100).toFixed(2)}}%</span>
                        </span>

                    </span>
                </span>
            </div>
            <div class="col-md-5">

            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9">

                <div class="trade-heading ">
                    <h1>Order History</h1>
                </div>
                <div class="table-res  mt-10 mat-elevation-z8">
                    <mat-tab-group>

                        <mat-tab label="Active Orders [{{orderSource.data.length}}]">

                            <div class="example-container" >

                                <table matSort mat-table [dataSource]="orderSource" class="mat-elevation-z8" >

                                    <ng-container matColumnDef="Symbol">
                                        <th mat-header-cell *matHeaderCellDef>Symbol</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.symbol}} </span></td>
                                    </ng-container>

                                    <ng-container matColumnDef="Qty">
                                        <th mat-header-cell *matHeaderCellDef>Qty</th>
                                        <td mat-cell (ngModelChange)="changeOrderData()" *matCellDef="let record">

                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Sell'">-{{record.orderQty}}</span>
                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Buy'">{{record.orderQty}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderPrice">
                                        <th mat-header-cell *matHeaderCellDef>Order Price</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.ordType === 'Market'">Market</span>
                                            <span *ngIf="record.ordType !== 'Market'">{{record.price}}</span>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="Filled">
                                        <th mat-header-cell *matHeaderCellDef>Filled</th>
                                        <td mat-cell *matCellDef="let record">{{record.cumQty}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Remaining">
                                        <th mat-header-cell *matHeaderCellDef>Remaining</th>
                                        <td mat-cell *matCellDef="let record"> {{record.leavesQty}} </td>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="OrderValue">
                                        <th mat-header-cell *matHeaderCellDef>Order Value</th>
                                        <td mat-cell *matCellDef="let record"> Unknown </td>
                                    </ng-container> -->

                                    <ng-container matColumnDef="FillPrice">
                                        <th mat-header-cell *matHeaderCellDef>Fill Price</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.avgPx === null "> ----</span>
                                            <span *ngIf="record.avgPx !== 'null'">{{record.avgPx}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Type">
                                        <th mat-header-cell *matHeaderCellDef>Type</th>
                                        <td mat-cell *matCellDef="let record"> {{record.ordType}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                        <td mat-cell *matCellDef="let record"> {{record.ordStatus}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderId">
                                        <th mat-header-cell *matHeaderCellDef>OrderId</th>
                                        <td mat-cell *matCellDef="let record" matTooltip="{{record.orderID}}">
                                            {{record.orderID | slice:0:7}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Time">
                                        <th mat-header-cell *matHeaderCellDef>Time</th>
                                        <td mat-cell *matCellDef="let record"> {{record.transactTime | date:'medium'}}
                                        </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="oredrsColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: oredrsColumns;"></tr>
                                </table>
                            </div>
                            <div *ngIf="orderSource.data.length === 0" class="text-center mt-2">
                                <span class="no-data-position"> No data</span>

                            </div>
                            <mat-paginator style="display:none">
                            </mat-paginator>
                        </mat-tab>


                        <mat-tab label="Stops [{{stopsSource.data.length}}]">

                            <div class="example-container">

                                <table matSort mat-table [dataSource]="stopsSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="Symbol">
                                        <th mat-header-cell *matHeaderCellDef>Symbol</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.symbol}} </span></td>
                                    </ng-container>

                                    <ng-container matColumnDef="Qty">
                                        <th mat-header-cell *matHeaderCellDef>Qty</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.side === 'Sell'">-{{record.orderQty}}</span>
                                            <span *ngIf="record.side === 'Buy'">{{record.orderQty}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderPrice">
                                        <th mat-header-cell *matHeaderCellDef>Order Price</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.ordType === 'Market'">Market</span>
                                            <span *ngIf="record.ordType !== 'Market'">{{record.price}}</span>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="Filled">
                                        <th mat-header-cell *matHeaderCellDef>Filled</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Sell'">-{{record.cumQty}}</span>
                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Buy'">{{record.cumQty}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="StopPrice">
                                        <th mat-header-cell *matHeaderCellDef>Stop Price</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.stopPx">{{record.stopPx}}</span>
                                            <span *ngIf="!record.stopPx">---</span>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="TriggeringPrice">
                                        <th mat-header-cell *matHeaderCellDef>Triggering Price</th>
                                        <td mat-cell *matCellDef="let record"> Unknown </td>
                                    </ng-container>

                                    <ng-container matColumnDef="FillPrice">
                                        <th mat-header-cell *matHeaderCellDef>Fill Price</th>
                                        <td mat-cell *matCellDef="let record"> {{record.avgPx}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Type">
                                        <th mat-header-cell *matHeaderCellDef>Type</th>
                                        <td mat-cell *matCellDef="let record"> {{record.ordType}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                        <td mat-cell *matCellDef="let record"> {{record.ordStatus}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Time">
                                        <th mat-header-cell *matHeaderCellDef>Time</th>
                                        <td mat-cell *matCellDef="let record"> {{record.transactTime | date:'medium'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderId">
                                        <th mat-header-cell *matHeaderCellDef>OrderId</th>
                                        <td mat-cell *matCellDef="let record" matTooltip="{{record.orderID}}">
                                            {{record.orderID | slice:0:7}} </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="stopsColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: stopsColumns;"></tr>
                                </table>
                            </div>
                            <div *ngIf="stopsSource.data.length === 0" class="text-center mt-2">
                                <span class="no-data-position"> No data</span>

                            </div>
                            <mat-paginator style="display:none">
                            </mat-paginator>
                        </mat-tab>

                        <mat-tab label="Fills">
                            <div class="example-container">

                                <table matSort mat-table [dataSource]="fillsSource"
                                    (matSortChange)="fillsortData($event)" class="mat-elevation-z8 example-container">

                                    <ng-container matColumnDef="Symbol">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.symbol}} </span></td>
                                    </ng-container>

                                    <ng-container matColumnDef="Qty">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.orderQty}} </span>
                                            <!-- <span *ngIf="record.side === 'Sell'">-{{record.orderQty}}</span>
                                            <span *ngIf="record.side === 'Buy'">{{record.orderQty}}</span> -->
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ExecQty">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Exec Qty</th>
                                        <td mat-cell *matCellDef="let record">


                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Sell'">-{{record.cumQty}}</span>
                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Buy'">{{record.cumQty}}</span>
                                    </ng-container>

                                    <ng-container matColumnDef="Remaining">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remaining</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.leavesQty}} </span></td>
                                    </ng-container>

                                    <ng-container matColumnDef="ExecPrice">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Exec Price</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.lastPx}} </span></td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderPrice">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Price</th>
                                        <!-- <td mat-cell *matCellDef="let record"> {{record.price}} </td> -->
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.ordType === 'Market'">Market</span>
                                            <span *ngIf="record.ordType !== 'Market'">{{record.price}}</span>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="Value">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
                                        <td mat-cell *matCellDef="let record">
                                            {{(record.execCost*0.00000001).toString() | slice:0:6}} XBT </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                                        <td mat-cell *matCellDef="let record"> {{record.ordType}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderId">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>OrderId</th>
                                        <td mat-cell *matCellDef="let record" matTooltip="{{record.orderID}}">
                                            {{record.orderID | slice:0:7}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Time">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                                        <td mat-cell *matCellDef="let record"> {{record.transactTime | date:'medium'}}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="fillsColumns sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: fillsColumns;"></tr>
                                </table>
                            </div>
                            <!-- <div *ngIf="fillsSource.data.length === 0" class="text-center mt-2">
                                No data
                            </div>
                            <mat-paginator style="display:none">
                            </mat-paginator> -->
                        </mat-tab>


                        <mat-tab label="Order History">
                            <div class="example-container">
                                <table matSort (matSortChange)="orderHistorysortData($event)" matSortActive="seqNo"
                                    matSortDirection="asc" matSortDisableClear mat-table [dataSource]="dataSource"
                                    class="mat-elevation-z8 example-container">

                                    <ng-container matColumnDef="Symbol">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span> {{record.symbol}} </span></td>
                                    </ng-container>

                                    <ng-container matColumnDef="Qty">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.side === 'Sell'">-{{record.orderQty}}</span>
                                            <span *ngIf="record.side === 'Buy'">{{record.orderQty}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderPrice">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Price</th>
                                        <!-- <td mat-cell *matCellDef="let record"> {{record.price}} </td> -->
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.ordType === 'Market'">Market</span>
                                            <span *ngIf="record.ordType !== 'Market'">{{record.price}}</span>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="Filled">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Filled</th>
                                        <td mat-cell *matCellDef="let record">
                                            <!-- <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }">{{record.cumQty}}</span> -->
                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Sell'">-{{record.cumQty}}</span>
                                            <span [ngStyle]="{'color': record.side === 'Buy' ? 'green' : 'red' }"
                                                *ngIf="record.side === 'Buy'">{{record.cumQty}}</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="StopPrice">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stop Price</th>
                                        <!-- <td mat-cell *matCellDef="let record"> {{record.stopPx}} </td> -->
                                        <td mat-cell *matCellDef="let record">
                                            <span *ngIf="record.stopPx">{{record.stopPx}}</span>
                                            <span *ngIf="!record.stopPx">---</span>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="FillPrice">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fill Price</th>
                                        <td mat-cell *matCellDef="let record"> {{record.avgPx}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                                        <td mat-cell *matCellDef="let record"> {{record.ordType}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                        <td mat-cell *matCellDef="let record"> {{record.ordStatus}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="OrderId">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>OrderId</th>
                                        <td mat-cell *matCellDef="let record" matTooltip="{{record.orderID}}">
                                            {{record.orderID | slice:0:7}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Time">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                                        <td mat-cell *matCellDef="let record"> {{record.transactTime | date:'medium'}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                            <div *ngIf="dataSource.data.length === 0" class="text-center mt-2">
                                <span class="no-data-position"> No data</span>

                            </div>
                            <mat-paginator style="display:none">
                            </mat-paginator>
                        </mat-tab>
                    </mat-tab-group>

                    <!-- <div *ngIf="dataSource.data.length === 0" class="text-center mt-2">
                        No data
                    </div>
                    <mat-paginator style="display:none" #paginator [length]="totalOrderLength" [pageSize]="limitOrder"
                        [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons (page)="getAllOrders($event)">
                    </mat-paginator> -->
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="mt-47 box-shadow trade-margin-div1">
                    <table class="table table-striped margin-table ">
                        <thead class="grad-css">
                            <tr>
                                <th>Margin</th>
                                <th class="display-none"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let list of marginData; let i =index">
                            <tr>
                                <td>Wallet Balance</td>
                                <td style="float: right;">{{(list.walletBalance*0.00000001).toString() | slice:0:6}} XBT
                                </td>
                            </tr>
                            <tr>
                                <td>Unrealised PNL</td>
                                <td style="float: right;">{{(list.unrealisedPnl*0.00000001).toString() | slice:0:6}} XBT
                                </td>
                            </tr>
                            <tr>
                                <td>Margin Balance</td>
                                <td style="float: right;">{{(list.marginBalance*0.00000001).toString() | slice:0:6}} XBT
                                </td>
                            </tr>
                            <tr>
                                <td>Position Margin</td>
                                <td style="float: right;">{{(list.maintMargin*0.00000001).toString() | slice:0:6}} XBT
                                </td>
                            </tr>
                            <tr>
                                <td>Order Margin</td>
                                <td style="float: right;">---</td>
                            </tr>
                            <tr>
                                <td>Available Balance</td>
                                <td style="float: right;">{{(list.availableMargin*0.00000001).toString() | slice:0:6}}
                                    XBT</td>
                            </tr>

                            <tr>
                                <td colspan="2"><strong>{{((list.marginUsedPcnt)*100).toFixed()}}% Margin Used
                                        {{(list.marginLeverage).toFixed(2)}}x Leverage</strong></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>



        <div class="trade-heading mt-47">
            <h1>Open Positions</h1>
        </div>
        <div class="table-res mt-10 mat-elevation-z8">
            <mat-tab-group>
                <mat-tab label="Open Positions [{{PositionSource.data.length}}]">

                    <div class="example-container">

                        <table matSort mat-table [dataSource]="PositionSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="Symbol">
                                <th mat-header-cell *matHeaderCellDef>Symbol</th>
                                <td mat-cell *matCellDef="let record">
                                    <span> {{record.symbol}} </span></td>
                            </ng-container>

                            <ng-container matColumnDef="size">
                                <th mat-header-cell *matHeaderCellDef>Size</th>
                                <td mat-cell *matCellDef="let record"> {{record.openingQty}} </td>
                            </ng-container>

                            <ng-container matColumnDef="value">
                                <th mat-header-cell *matHeaderCellDef>Value</th>
                                <td mat-cell *matCellDef="let record"> {{record.homeNotional.toString() | slice:0:6}}
                                    XBT </td>
                            </ng-container>

                            <ng-container matColumnDef="enrtyPrice">
                                <th mat-header-cell *matHeaderCellDef>Enrty Price</th>
                                <!-- <td mat-cell *matCellDef="let record"> {{(record.avgEntryPrice).toFixed(2)}} </td> -->
                                <td mat-cell *matCellDef="let record"> {{record.avgEntryPrice}} </td>

                            </ng-container>

                            <ng-container matColumnDef="markPrice">
                                <th mat-header-cell *matHeaderCellDef>Mark Price</th>
                                <td mat-cell *matCellDef="let record"  [ngClass]="{'success-green-trade':symbolArr1[record.symbol] == record.symbol,
                                'success-red-trade':symbolArr[record.symbol] == record.symbol && redIns}"> {{record.markPrice}} </td>
                            </ng-container>

                            <ng-container matColumnDef="liqPrice">
                                <th mat-header-cell *matHeaderCellDef>Liq. Price</th>
                                <td mat-cell *matCellDef="let record" [ngStyle]="{'color': 'red' }">
                                    {{record.liquidationPrice.toFixed(1)}} </td>
                            </ng-container>

                            <ng-container matColumnDef="margin">
                                <th mat-header-cell *matHeaderCellDef>Margin</th>
                                <td mat-cell *matCellDef="let record">
                                    <!-- {{(marginData[0]?.marginBalance*0.00000001).toString() | slice:0:6}} XBT -->
                                    <span *ngIf="marginData">+<i class="fa fa-btc" aria-hidden="true"
                                            style="color:blue"></i>
                                        {{(marginData[0]?.maintMargin*0.00000001).toString() | slice:0:6}} XBT
                                        ({{(marginData[0]?.marginLeverage).toString() | slice:0:4}}x)</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="UnrealisedPNL">
                                <th mat-header-cell *matHeaderCellDef>Unrealised PNL (ROE %)</th>
                                <td mat-cell *matCellDef="let record" [ngStyle]="{'color': 'red' }">
                                    {{(record.unrealisedPnl*0.00000001).toString() | slice:0:7}} XBT
                                    ({{(record.unrealisedRoePcnt*100).toString() | slice:0:6}}%) </td>
                            </ng-container>

                            <ng-container matColumnDef="RealisedPNL">
                                <th mat-header-cell *matHeaderCellDef>Realised PNL</th>
                                <td mat-cell *matCellDef="let record"> {{record.realisedPnl.toFixed(4)}} XBT </td>
                            </ng-container>

                            <ng-container matColumnDef="ClosePosition">
                                <th mat-header-cell *matHeaderCellDef>Close Position</th>
                                <td mat-cell *matCellDef="let record"> {{record.markPrice}} </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="PositionColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: PositionColumns;"></tr>
                        </table>
                    </div>
                    <div *ngIf="PositionSource.data.length === 0" class="text-center mt-2">

                        <span class="no-data-position"> No data </span>
                    </div>
                    <mat-paginator style="display:none">
                    </mat-paginator>
                </mat-tab>
                <!-- <mat-tab label="Close Positions">

                    <div class="example-container">

                        <table matSort mat-table [dataSource]="closePositionSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="Symbol">
                                <th mat-header-cell *matHeaderCellDef>Symbol</th>
                                <td mat-cell *matCellDef="let record">
                                    <span> {{record.symbol}} </span></td>
                            </ng-container>


                            <ng-container matColumnDef="RealisedPNL">
                                <th mat-header-cell *matHeaderCellDef>Realised PNL</th>
                                <td mat-cell *matCellDef="let record"> {{record.realisedPnl}} </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="closePositionColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: closePositionColumns;"></tr>
                        </table>
                    </div>
                    <div *ngIf="closePositionSource.data.length === 0" class="text-center mt-2">
                        No data
                    </div>
                    <mat-paginator style="display:none">
                    </mat-paginator>
                </mat-tab> -->
            </mat-tab-group>

        </div>




    </div>
</div>